{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}

# block content
<meta name="csrf-token" content="{{ csrf_token() }}">

<script type="text/javascript">
$(document).ready(function(){

	var csrftoken = $('meta[name=csrf-token]').attr('content')
	
	$.ajaxSetup({
	    beforeSend: function(xhr, settings) {
	        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
	            xhr.setRequestHeader("X-CSRFToken", csrftoken)
	        }
	    }
	})

	$(".verify_merchant").click(function(){
		var id = this.id;
		$.post("{{url_for('basePortal.verifyMerchant')}}",
			{id : this.id },
			function(data){
		        var response = jQuery.parseJSON(data);

				if(response.status){
					$("#merchant"+id).remove()
				}
				$(".flashes").empty()
   				$(".flashes").append("<div class=\"alert alert-success alert-dismissable\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>"+response.feedback +"</div>")
			}

		)
		
	});
});
</script>

<div class= "col-md-5">
	<div class="panel panel-primary">
	      <div class="panel-heading">
	        <h3 class="panel-title">Merchant Verification</h3>
	      </div>
	      <div class="panel-body">
	
			# for merchant in merchants

			<table  class="table" id= {{"merchant"+merchant.id|string}}>
				<tbody>
					<tr>
						<td>
							{{merchant.username}}
						</td>
						<td>
							<button id={{merchant.id}} class="verify_merchant btn btn-success btn-lg"> Verify Merchant </button>
						</td>
					</tr>

					<tr>
						<td>
							<b> Contact </b> <br>
							{{ merchant.fullname }}<br>
							{{ merchant.mobileNumber }} <br>
							{{ merchant.email }} <br>
						</td>
						<td>
							<b> Address </b> <br>
							{{ merchant.address1 }}<br>
							{{ merchant.address2 }}<br>
							{{ merchant.city }}<br>
							{{ merchant.district }}<br>
							{{ merchant.state }}<br>
						</td>
					</tr>
				
			</tbody>
			</table>	
			
			# endfor
		</div>

</div>
</div>

# endblock