{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}

# block content

<form id="ajax_csrf" method="post" action="/">
    <input id="ajax_csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
</form>

<div class="col-md-5">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Terminal Verification</h3>
		</div>
		<div class="panel-body">
			<div id="payment-block">
				<table class="table">
					<tbody>
						<tr>
						<td> <input id="paymentNumber" class="form-control" placeholder="Cheque/DD Number"> </td>
						<td> <button class="btn btn-success" id="psearchButton" > Find Payments </button> </td>
						</tr>
					</tbody>
				</table>
				
				<div id="entries">
					<table id="payments" class="table">
						<tbody>

						</tbody>
					</table>
				</div>

			</div>

		</div>	
	</div>
</div>





<script type="text/javascript">
$(document).ready(function(){

	$("#psearchButton").click(function(){
		console.log("inside")
		getPayments($("#paymentNumber").val())
	});

});

function getPayments(paymentNumber){
	postData = "paymentNumber="+paymentNumber
	makeRequest('/base/getPayments',postData,populatePayments)
}

function makeRequest(url,postData,f){
	postData += "&csrf_token="+  $("#ajax_csrf #ajax_csrf_token")[0].value
	httpRequest = new XMLHttpRequest();
	httpRequest.onreadystatechange = f;
	httpRequest.open('POST',url);
	httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
	httpRequest.send(postData);
}

function populatePayments(){
	
	try{
		if(httpRequest.readyState == 4){
			if(httpRequest.status == 200){
				j = JSON.parse(httpRequest.responseText)
				if (j.payments.length > 0){

					//emptying the payments
					$("#payments").empty()

					$("#payments").append(
						'<tr>'+
						'<th>Merchant Name</th>'+
						'<th>Amount </th>'+
						'<th>Action</th>'+
						'</tr>'
						);

					for(var i=0;i<j.payments.length;i++){
						payment = j.payments[i];

						$("#payments").append(
							'<tr '+'id="payment'+payment.id+'">'+
							'<td>'+payment.merchant+'</td>'+
							'<td>'+payment.amount+'</td>'+
							'<td>'+'<button id='+payment.id+' class="verify_payment btn btn-success"> Verify Payment </button>'+'</td>'+
							'</tr>'
							);

					}

					$(".verify_payment").click(function(){
						var id = this.id;
						
						$.post("{{url_for('basePortal.verifyPayment')}}",
							{paymentId : this.id },
							function(data){
						        var response = jQuery.parseJSON(data);

								if(response.status){
									$("#payment"+id).remove()
									window.location.replace(response.redirect_url);
								}
								$(".flashes").empty()
								$(".flashes").append("<div class=\"alert alert-success alert-dismissable\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>"+response.feedback +"</div>")
							}

						)
					});

					
				}else{
					//emptying the payments
					$("#payments").empty()

					//emptying the payments
					$("#payments").append(
							'<tr>'+
								'<td colspan="2">'+
									'No payments found!!'+
								'</td>'+
							'</tr>'
							);
				}
				
			}else{
				alert('Response could not be fetched')
			}
		}
	}
	catch(e){
		alert('exception caught'+e.description)
	}

}

</script>

# endblock