{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}


# block content
<meta name="csrf-token" content="{{ csrf_token() }}">

<div class="col-md-3">
	<div class="panel panel-primary">
	      <div class="panel-heading">
	        <h3 class="panel-title">Terminal Verification</h3>
	      </div>
	      <div class="panel-body">
	      	<table class="table">
				<tbody>
					# for terminal in terminals
						<tr id="terminal{{terminal.id}}">
						<td>
							{{terminal.mobileNumber}}
						</td>
						<td>
							<button id="{{terminal.id}}" class="verify_pos btn btn-success btn-lg"> Verify </button>
						</tr>
					# endfor
				</tbody>
			</table>	
	      </div>
	</div>

</div>


<script type="text/javascript">
$(document).ready(function(){
	var csrftoken = $('meta[name=csrf-token]').attr('content')
	
	$.ajaxSetup({
	    beforeSend: function(xhr, settings) {
	        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
	            xhr.setRequestHeader("X-CSRFToken", csrftoken)
	        }
	    }
	})

	
	$(".verify_pos").click(function(){
		var id = this.id;
		
		$.post("{{url_for('basePortal.verifyPOS')}}",
			{id : this.id },
			function(data){
		        var response = jQuery.parseJSON(data);

				if(response.status){
					$("#terminal"+id).remove()
				}
				$(".flashes").empty()
				$(".flashes").append("<div class=\"alert alert-success alert-dismissable\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>"+response.feedback +"</div>")
			}

		)
	});

});
</script>


# endblock