{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}


# block content


<div class="col-md-1">
</div>

<div class="col-md-10">
	<div class="row">
		<div class="col-md-6">
			<form id="form" role="form" class="form-horizontal" method=post  action="{{ url_for('basePortal.addPOS')+'?merchant='+merchantName }}">

				<div class="panel panel-primary">
			      <div class="panel-heading">
			        <h3 class="panel-title">Payment Details</h3>
			      </div>
			      <div class="panel-body">
			      	{{ render_field(form.paymentMode) }}
					{{ render_field(form.micr) }}
					{{ render_field(form.paymentAcNumber) }}
					{{ render_field(form.serial) }}
					{{ render_field(form.amount) }}


			      </div>
			    </div>
				
			  {{ render_field(form.csrf_token) }}
			  
				## posData hidden field
				{{ render_field(form.posData) }}


				</form>
		</div>
		<div class="col-md-6">
			# if posList|length != 0
				<div class="terminalbox panel panel-primary">   
					<div class="panel-heading">
						<h3 class="panel-title"> Terminal Details </h3>
					</div>
					<div class="panel-body">
						# for pos in posList
						<div class="content">
						        <label class = 'label-num' for="itemFirst">POS {{loop.index}}:</label>
						        <input type="text" name"itemFirst[]" value={{pos}}>
						        <button class="btn btn-danger removeBtn ">Remove</button>    
						</div>
						# endfor

						<button class="btn btn-success btn-lg addBtn">Add Another</button>     
					</div>
					
				</div>
			# else
				<div class="terminalbox panel panel-primary">   
					<div class="panel-heading">
						<h3 class="panel-title"> Terminal Details </h3>
					</div>

					<div class="panel-body">
						<div class="content">
		    	    <label class = 'label-num' for="itemFirst">POS 1:</label>
			        <input type="text" name"itemFirst[]">
			        <button  class="btn btn-danger removeBtn ">Remove</button>    
		        </div>

				    <button class="btn btn-success btn-lg addBtn">Add Another</button>     
				  </div>
				</div>
			# endif

		</div>
	</div>
	

	
	## for submission and cancel actions

	<center>
			<button class="btn btn-success btn-lg" onclick="cancel()">Cancel</button> 
			<button type="submit" class="btn btn-success btn-lg" onClick='submitMerchantForm()'>Submit</button>
	</center>


</div>

<div class="col-md-1">
</div>





<script type="text/javascript">

$(document).ready(function(){		
	$("#form").submit(function(event){
	    	// validate fields specific to merchant.
	    	var isOk = true;

	    	var micrId = "micr"
			var paymentAcNumberId = "paymentAcNumber"
			var serialId = "serial"
			var amountId = "amount"

			// removing previous errors
			$("#"+micrId+"error").empty()
			$("#"+paymentAcNumberId+"error").empty()
			$("#"+serialId+"error").empty()
			$("#"+amountId+"error").empty()

			isOk = render_input_alphanumeric_chain_error(micrId);
			isOk = render_input_digit_chain_error(paymentAcNumberId) && isOk;
			isOk = render_input_alphanumeric_chain_error(serialId) && isOk;

			var str = $("#"+amountId).val().toString();
			if(!(str.match(/^-?[0-9]*[.][0-9]+$/) || str.match(/^-?[0-9]+$/))) {
				isOk = false
			    $("#"+amountId+"error").append("<li>"+ amountId+ "should be a float value"+"</li>")
			}

	    	return isOk;
	});


		//remove button
	$('.removeBtn').click( function() {
	    var terminalbox = $(this).closest('.panel-body');
	    var counts = terminalbox.children('.content').length;

	    if(counts == 1){
	    	return 'adsf'
	    }

	    $(this).parent().remove();

	    terminalbox.find('.label-num').text(function(idx){
	        return 'POS '+ (1 + idx)
	    })
	});

	//add button
	$('.addBtn').click( function() {
	    var terminalbox = $(this).closest('.panel-body');
	    var counts = terminalbox.children('.content').length;
	    var content = $(this).prev();

	    content.clone(true,true).insertAfter(content).find('input').val('').end().find('.label-num').text('POS '+(counts+1));

	    terminalbox.find('.removeBtn').show();
	});

});

// submits form merchant+payment with hidden posData field
function submitMerchantForm(){
	
	var terminalbox = $('.terminalbox')
  var posEntries = terminalbox.children('.panel-body').children('.content');

  var data = '';
  //getting all pos entries with non-empty values
  for(var i=0;i<posEntries.length ;i++){
  	pos = $(posEntries[i]).find('input').val();
  	if(pos.length > 0)
  		data +=	$(posEntries[i]).find('input').val()+';';
  }

	
	$("#posData").val(data)
	$("#form").submit();
	console.log("phone number tokens attached to hidden fiedl")
}



function cancel(){
  console.log('inside cancel')
  window.location.assign("{{url_for('basePortal.viewProfile')}}")
}


</script>



# endblock