{% extends "base.html" %}
# block content

<meta name="csrf-token" content="{{ csrf_token() }}">


<div class="col-md-7"> 
<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Terminals</h3>
		</div>
		<div class="panel-body">

			<table class="table">
				<tbody>
					<tr>
						<td>
							<table class="table" id = {{"terminal"+ details.clientId|string}}>
								<tbody>

								<tr>
									<td>
										mobileNumber:
									</td>
									<td>
										{{ details.mobileNumber }}
									</td>
								</tr>

								<tr>
									<td>
										ClientId:
									</td>
									<td>
										{{ details.clientId }}
									</td>
								</tr>
								# if not allotTid
									<tr>
										<td>
											TID:
										</td>
										<td>
											{{ details.tid }}
										</td>
									</tr>
								# endif

								</tbody>
							</table>
						</td>
						<td>
							<table class="table">
								<tr>
									<td>  
										<a class = "btn btn-danger" href = "{{ url_for('basePortal.viewPOS',clientId=details.clientId) }}" > View POS </a>
									</td>
								</tr>

								# for action in actionList
								<tr>
									<td>  
										<a  class = "btn btn-danger" href = "{{action['url']}}" >{{action['name']}}</a>
									</td>
								</tr>

								# endfor

							</table>
						</td>
						
						<td style="text-align: center;">
							# if allotTid
							<div id = "{{"allotTidDiv" + (details.clientId|string)}}" >
									<input class="form-control" id = {{"tid"+ details.clientId|string}} type="text" name="tid" placeholder="TID">
									</input> <br>
									<button class="allotTidClass btn btn-success"  id="{{details.clientId}}" > Allot TID</button>
							</div>
							# endif
						</td>
						
					</tr>

				<tr>
					<td> PREPARE_FOR_ACTIVATION </td>
					<td> <a class="btn btn-success" href="{{url_for('basePortal.changeTerminalBitState',clientId = details.clientId,bitName = 'PREPARE_FOR_ACTIVATION')}}">Prepare</a>  </td>
				</tr>
				# for bitmap in bitmapStatuses
				

					<tr>
						<td> {{ bitmap[0] }}</td>
						# if bitmap[1]
						<td> <img width="20px" height = "20px" src="{{url_for('static',filename="images/yes.jpeg")}}"> </td>
						<td> <a class="btn btn-danger" href="{{url_for('basePortal.changeTerminalBitState',clientId = details.clientId,bitName = bitmap[0])}}">UnSet</a>  </td>
						# else
						<td> <img width="20px" height = "20px" src="{{url_for('static',filename="images/no.jpeg")}}"> </td>
						<td> <a class="btn btn-success" href="{{url_for('basePortal.changeTerminalBitState',clientId = details.clientId,bitName = bitmap[0])}}">Set</a>  </td>
						# endif
					</tr>
				# endfor


				</tbody>


			</table>
	</div>
</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	
	var csrftoken = $('meta[name=csrf-token]').attr('content')
	
	$.ajaxSetup({
	    beforeSend: function(xhr, settings) {
	        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
	            xhr.setRequestHeader("X-CSRFToken", csrftoken)
	        }
	    }
	})


	$(".allotTidClass").click(function(){
		var id = this.id
		var temp = $("#tid"+id).val();

		$.post("{{ url_for('basePortal.allotTid',terminal="") }}"+id,
			{tid:$("#tid"+id).val()},
			function(data){
				if(data == "success"){
					$("#allotTidDiv"+id).contents().remove()
					$('#terminal'+ id +' > tbody:last').append('<tr><td>TID:</td><td>'+ temp +'</td></tr>');
				}
			}
		)

	});
});

/*
entries | actionListEntries | tidStatusEntries
They all have same length and are looped to 
render a terminal in a table row.

*/

</script>

# endblock