{% from "_formhelpers.html" import render_field,cancelAndSave %}
{% extends "base.html" %}


# block content

<div class="col-md-4">
</div>

<div class="col-md-4">
    <form id="form" role="form" class="form-horizontal" method = post action="{{ url_for('adminPortal.addClientId') }}">
    {{ render_field(form.csrf_token) }}

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">ClientId Details</h3>
      </div>
      <div class="panel-body">
        {{ render_field(form.clientID) }}
        {{ render_field(form.securityToken) }}
      </div>
    </div>

    <center>
        {{ cancelAndSave() }}
    </center>
    
</form>

</div>

<div class="col-md-4">
</div>



<script type="text/javascript">
function cancel(){
  console.log('inside cancel')
  window.location.assign("{{url_for('basePortal.viewProfile')}}")
}

$(document).ready(function(){
    $("#form").submit(function(event){

    	var isOk = true;

    	var clientIDId = "clientID"
    	var securityTokenId = "securityToken"

    	// removing previous errors
        $("#"+clientIDId+"error").empty();
        $("#"+securityTokenId+"error").empty();

        isOk = render_input_digit_chain_error(clientIDId);
        isOk = render_input_required_error(securityTokenId) && isOk;

        return isOk


    });

});

</script>


# endblock