{% from "_formhelpers.html" import render_field,render_user %}

{% extends "base_add_user.html" %}

# block formdata


<form id="form" role="form" class="form-horizontal" method=post action="{{ url_for('basePortal.addAgent') }}">
	
	<div class="row">
		<div class="col-md-4">
		</div>

		<div class="col-md-4">
			# if showCompanyList

				<div class="panel panel-primary">
			      <div class="panel-heading">
			        <h3 class="panel-title"> Hierarchy </h3>
			      </div>
			      <div class="panel-body">
			      	<select id="companies" name = "companies" class="form-control">
						<option value="-1">select a company</option>
						#for c in companyList
							<option value="{{c}}">{{c}}</option>
						#endfor
					</select>

			      </div>
			    </div>
			# endif
		</div>

		<div class="col-md-4">
		</div>
		
	</div>

	<div class="row">
		{{ render_field(form.csrf_token) }}
		{{ render_user(form) }}
		<center>{{ cancelAndSave()}}</center>
	</div>

</form>




<script type="text/javascript">

$(document).ready(function(){
    $("#form").submit(function(event){
    	// validate fields specific to agent.
    	return true;

	});
});


function cancel(){
  console.log('inside cancel')
  window.location.assign("{{url_for('basePortal.viewProfile')}}")
}

</script>

</body>

# endblock