{% extends "base_edit_user.html" %}

# block formdata

<center>
	<a style="margin-left:20px" class="btn btn-success btn-lg" href="{{url_for('basePortal.viewAgent',name= agent.username )}}">  View {{agent.username}} </a> 
</center>


<form id="form" class="pure-form pure-form-aligned" method=post action="{{url_for('basePortal.editAgent',agent= agent.username )}}">
	{{ render_field(form.csrf_token) }}
	{{ render_user(form,False) }}
	<center>{{ cancelAndSave()}}</center>
  	
</form>

#endblock
