{% extends "base.html" %}

# block content
	
<div class="col-md-4">
</div>

<div class="col-md-5">
	<form id="support" role="form" class="form-horizontal" method=post action="{{url_for('basePortal.addSupport')}}">
	{{ render_field(form.csrf_token) }}
	<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title">Support</h3>
		  </div>
		  <div class="panel-body">
		  	{{ render_field(form.contactNumber) }}
			{{ render_field(form.email) }}
			{{ render_field(form.feedbackType) }}
			{{ render_field(form.message) }}
		  </div>
	</div>

	<center>
		{{cancelAndSave()}}
	</center>	 
	  
		
	</form>
</div>

<div class="col-md-3">
</div>


	
<script type="text/javascript">
function cancel(){
  console.log('inside cancel')
  window.location.assign("{{url_for('basePortal.viewProfile')}}")
}

$(document).ready(function(){
    $("#support").submit(function(event){
        
        try{
	        isOk = true;  

	        var contactNumberId = "contactNumber"
	        var emailId = "email"
	        var messageId = "message"

	        // removing previous errors
	        $("#"+contactNumberId+"error").empty();
	        $("#"+emailId+"error").empty();
	        $("#"+messageId+"error").empty();

	        isOk = render_input_digit_chain_error(contactNumberId,8);
	        isOk = render_input_email_error(emailId) && isOk;
	        isOk = render_input_length_error(messageId) && isOk;
	        	        
	        return isOk
    	}catch(err){
    		console.log(err.message)
    	}
        
    });

});


</script>


#endblock


