# extends "base.html"

# block content
<div class="col-md-5">
	<form id="form" role="form" class="form-inline" method=post action="{{url_for('basePortal.searchTerminals')}}">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

		<div class="panel panel-primary">
	      <div class="panel-heading">
	        <h3 class="panel-title">Terminal Search</h3>
	      </div>
	      <div class="panel-body">
	      	<input type="text" class="form-control" name="keyword" placeholder="terminal mobile number" >
	    	<button type="submit" class="btn btn-success">Search</button>
	      </div>
	    </div>
	</form>

	# if terminal != None
	<div class="panel panel-primary">
	      <div class="panel-heading">
	        <h3 class="panel-title">Terminal Search</h3>
	      </div>
	        <table class="table">
		    	<tbody>
		    		<tr>
		    			<td>
						    <table class="table">
						    	<tbody>
						    		<tr>
										<td>
											mobileNumber:
										</td>
										<td>
											{{ terminal.mobileNumber }}
										</td>
									</tr>

									<tr>
										<td>
											ClientId:
										</td>
										<td>
											{{ terminal.clientId }}
										</td>
									</tr>
						    	</tbody>
						    </table>
					    </td>
					    <td>
						<a class="btn btn-success btn-lg" href="{{url_for('basePortal.viewPOS',clientId = terminal.clientId)}}">View In Detail 	    	
				    	</td>
				    </tr>
				    

				</tbody>
			</table>
# endif

</div>



# endblock