# extends "base.html"

# block content

<div class="col-md-4">
	<form id="form" role="form" class="form-inline" method=post action="{{url_for('basePortal.searchMerchants')}}">
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

	<div class="panel panel-primary">
	      <div class="panel-heading">
	        <h3 class="panel-title">Find Merchants</h3>
	      </div>
	      <div class="panel-body">
	      	<input type="text" class="form-control" name="keyword" placeholder="Mobile number | Username">
    		<button type="submit" class="btn btn-success">Search</button>
	      </div>
	</div>

	# if merchant != None
	<div class="panel panel-primary">
	      <div class="panel-heading">
	        <h3 class="panel-title">Merchant Search</h3>
	      </div>
	
		<table class="table">
			<tbody>
				<tr>
						<td>
							<b> username : </b>{{merchant.username}}
						</td>
						<td><a <a class="btn btn-success btn-lg" href="{{url_for('basePortal.viewMerchant',name=merchant.username)}}">View In Detail</a></td>
				</tr>


				<tr>
					<td>
						<b> Contact </b>  <br>
						{{ merchant.fullname }}<br>
						{{ merchant.mobileNumber }} <br>
						{{ merchant.email }} <br>
					</td>

					<td>
						<b> Address </b>  <br>
						{{ merchant.address1 }}<br>
						{{ merchant.address2 }}<br>
						{{ merchant.city }}<br>
						{{ merchant.district }}<br>
						{{ merchant.state }}<br>
					</td>
				</tr>

			</tbody>
		</table>
	</div>
		# endif

</div>
   
</form>


# endblock