
<html>
<head>

</head>
<body>
# set isTipped = False
<div class="page">

	<div class="rcpt">
	<table >
		<tbody>
		<tr><td align="center" colspan="2">
			 <img src="{{url_for('static',filename="med_logo.png",_external=true)}}"> 
		</td></tr>

		<tr><td align="center" colspan="2">
			OnMobilePay Solutions Ind. Pvt  <br>
			Hyderabad<br><br>
		</td></tr>

		<tr><td align="left" colspan="2">
			<b>DATE/TIME:</b> 2014-01-29 13:13:18<br>		
		</td></tr>
	
		<tr>
		<td align="left" > <b>MID</b>: 123 </td>
		<td align="right" > <b>TID</b>: 123 </td>
		</tr>

		<tr>
		<td align="left" > <b>BATCH</b>: 12 </td>
		<td align="right" > <b>INVOICE</b>: 23423123 </td>
		</tr>

		<tr>
		<td align="center" colspan="2"> SALE </td>
		</tr>

		<tr>
		<td align="left"> <b>CARD NUMBER</b>: 269*****4155 </td>
		
		</tr>

		<tr>	
		<td align="left" > <b> APPR CODE </b>: 23324 </td>
		<td align="right" > <b>RRN </b>: 12213 </td>
		</tr>


		<tr>
			<td align="left"><b>INPUT TYPE</b>: SWIPE </td>
		</tr>

		
	
		<tr>
		<td align="left"> <b> BASE AMOUNT </b>: 2 </td>
		
#	if not isTipped	
		<td align="right" > <b>TIP AMOUNT</b>: 0 </td>
		</tr>
		<tr>
		<td align="center" colspan="2" > <b>TOTAL AMOUNT</b>: 2</td>
		</tr>
		
#	else
	</tr>

#	endif

	<tr>
	<td align="center" colspan="2"> 
	<br>
	*********************************************<br>
	I agree to pay by the rules of card issuer<br>
	*********************************************<br>
	</td>
	</tr>

	<tr>
	<td align="center" colspan="2">
	Teja <br>
	-- CUSTOMER COPY -- <br>
		<b>AASAANPAY</b>
	</td>
	</tr>

	</tbody>
	</table>
		
	</div>
</div>

<style type="text/css">
div {
	font-family:"Times New Roman", Times, serif;
	font-size: 9pt
} 

div.page{
	border: 1px;
	margin: 3px;
}

</style>

<!--
<style type="text/css">
div {
	font-family:"Times New Roman", Times, serif;
	font-size: 9pt
} 
.rcpt{
	border : 3px groove black;
	margin: auto;
	width:400px;
}

</style>

-->


<style>
@page {
        size: letter portrait;
        @frame content_frame {
            left: 150pt;
            width: 270pt;
            top: 50pt;
            height: 300pt;
            -pdf-frame-border: 1;    
        }
}

</style>

</body>

</html>