<html>

<body>
	<!-- <img src= {{ url_for('static', filename = 'logo.png') }} alt="AasaanPay" title="AasaanPay" border="0"> -->

	<center><h3>Settlement Details</h3></center>
	<hr style="margin: 1em 0;"/>
	<table width="100%" cellpadding="4" cellspacing="0" > 
		
	<thead> 
	<tr> 
		<th>Txn time</th>
		<th>Bank</th>
		<th>Batch</th>
		<th>TID</th>
		<th>MID</th>
		<th>Sale</th>
		<th>Void</th>
		<th>Tip</th>
		<th>Refund</th>
		<th>PreAuth</th>
		<th>Totals</th>
	</tr>
	</thead> 

	<tbody> 


	#for stl in settlements
		<tr  style="border: 1px solid #000000;">

			<td>{{stl.transTime}}</td> 
			<td>{{stl.bankName}}</td>
			<td>{{stl.batchNumber}}</td>
			<td>{{stl.tid}}</td>
			<td>{{stl.mid}}</td>
			<td>{{stl.saleAmount/100.0}} ({{stl.numSales}})</td>
			<td>{{stl.voidAmount/100.0}} ({{stl.numVoids}})</td>
			<td>{{stl.tipAmount/100.0}} ({{stl.numTips}})</td>
			<td>{{stl.refundAmount/100.0}} ({{stl.numRefunds}})</td>
			<td>{{stl.preAuthAmount/100.0}} ({{stl.numPreAuths}})</td>
			<td>{{stl.totalAmount/100.0}} ({{stl.numSales + stl.numRefunds}})</td>

		</tr>
	# endfor
	<tr  style="border: 1px solid #000000;">
			<td><b>Totals</b></td> 
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>{{final.saleAmount/100.0}} ({{final.numSales}})</td>
			<td>{{final.voidAmount/100.0}} ({{final.numVoids}})</td>
			<td>{{final.tipAmount/100.0}} ({{final.numTips}})</td>
			<td>{{final.refundAmount/100.0}} ({{final.numRefunds}})</td>
			<td>{{final.preAuthAmount/100.0}} ({{final.numPreAuths}})</td>
			<td>{{final.totalAmount/100.0}} ({{final.numSales + final.numRefunds}})</td>
	</tr>
	</tbody>

	</table>
	<hr style="margin: 1em 0;"/>

	<center><h3>Transaction Details</h3></center>
	<hr style="margin: 1em 0;"/>
	<table width="100%" cellpadding="4" cellspacing="0" > 
		
	<thead> 
	<tr> 
		<th>Date/Time</th>
		<th>Card</th>
		<th>Type</th>
		<th>Invoice</th>
		<th>RRN</th>
		<th>Approval Code</th>
		<th>Tip Amount</th>
		<th>Amount</th>
	</tr>
	</thead> 

	<tbody> 


	# for txn in txns
		<tr  style="border: 1px solid #000000;">

			<td>{{txn.transTime}}</td>
			<td>{{'*'*6 + txn.maskedPan[6:]}}</td>
			<td>{{txn.getTransactionType() }} </td>
			<td>{{txn.invoice}}</td>
			<td>{{txn.rrn}}</td>
			<td>{{txn.apprCode}}</td>
			<td>{{txn.tipAmount/100.0}}</td>
			#if txn.ttype != txn.TTYPE['PREAUTH']
			#set amount = (txn.amount + txn.amount2)|string
			#elif txn.ttype == txn.TTYPE['PREAUTH']
			#set amount = (txn.amount)|string
			#endif

			#if amount|length < 3
			#set amount = '0'*(3-(amount|length)) + amount
			#endif
			<td>{{(amount)[:-2]}}.{{(amount)[-2:]}}</td>
			<!-- <td>{{(txn.amount + txn.amount2)/100.0}}</td> -->
		</tr>
	# endfor		
	</table>
	<hr style="margin: 1em 0;"/>
</body>
</html>