<html>

<body>
<center><h3>Transactions</h3></center>

	<table width="100%" cellpadding="4" cellspacing="0" > 		
	<thead> 
	<tr> 
	    <th>Date/Time</th> 
	    <th>Card</th>
	    <th>Type</th>
	    <th>Invoice</th>
	    <th>RRN</th>
	    <th>Approval Code</th>
	    <th>Tip Amount</th> 
	    <th>Amount</th>	  
	</tr>
	</thead> 

	<tbody> 


	# for purchase in purchases
		<tr  style="border: 1px solid #000000;">

			<td>{{purchase.transTime}}</td> 
		    <td>{{'*'*6 + purchase.maskedPan[6:]}}</td> 
		    <td>{{purchase.getTransactionType()}} </td>
		    <td>{{purchase.invoice}}</td> 
		    <td>{{purchase.rrn}}</td> 
		    <td>{{purchase.apprCode}}</td> 
		    <td>{{purchase.tipAmount}}</td> 
		    <td>{{purchase.amount}}</td> 		    
		</tr>
	# endfor		
	</table>
</body>

</html>