
<html>
<head>

</head>
<body>
	
 	# set merchantDetails = transaction.terminalDetails.merchantDetails 
 	# set host = "http://127.0.0.1:5000"
<div class="page">

	<div class="rcpt">
	<table>
		<tbody>
		<tr><td align="center" colspan="2">
			
		</td></tr>

		<tr><td align="center" colspan="2">
			{{ merchantDetails.nameOnReceipt }} <br>
			{{ merchantDetails.city}}<br><br>
		</td></tr>

		<tr><td align="left" colspan="2">
			<b>DATE/TIME:</b> {{ transaction.transTime }}<br>		
		</td></tr>
	
		<tr>
		<td align="left" > <b>MID</b>: {{ purchase.mid}} </td>
		<td align="right" > <b>TID</b>: {{ purchase.tid}} </td>
		</tr>

		<tr>
		<td align="left" > <b>BATCH</b>: {{ purchase.batch}} </td>
		<td align="right" > <b>INVOICE</b>: {{ transaction.invoice}} </td>
		</tr>

		<tr>
		<td align="center" colspan="2"> {{ transType }} </td>
		</tr>

		<tr>
		<td align="left" colspan="2"> <b>CARD NUMBER</b>: {{ '*'*6 + purchase.maskedPan[6:]}} </td>
		
		</tr>

		<tr>	
		<td align="left" > <b> APPR CODE </b>: {{ transaction.apprCode}} </td>
		<td align="right" > <b>RRN </b>: {{ transaction.rrn}} </td>
		</tr>


		<tr>
			<td align="left"><b>INPUT TYPE</b>: {{inputType}}</td>
		</tr>

		
	
		<tr>
		<td align="left"> <b> BASE AMOUNT </b>: {{ purchase.amount/100.0}} </td>
		
#	if not isTipped	
		<td align="right" > <b>TIP AMOUNT</b>: {{purchase.tipAmount}} </td>
		</tr>
		<tr>
		<td align="center" colspan="2" > <b>TOTAL AMOUNT</b>: {{(purchase.amount + purchase.tipAmount)/100.0}}</td>
		</tr>

		
#	else
	</tr>

#	endif

	<tr>
	<td align="center" colspan="2"> 
	<br>
	*********************************************<br>
	I agree to pay by the rules of card issuer<br>
	*********************************************<br>
	</td>
	</tr>

	<tr>
	<td align="center" colspan="2">
	{{ transaction.chName}} <br>
	-- CUSTOMER COPY -- <br>
	
	</td>
	</tr>

	</tbody>
	</table>
		
	</div>
</div>

<style type="text/css">
div {
	font-family:"Times New Roman", Times, serif;
	font-size: 9pt
} 

div.page{
	border: 1px;
	margin: 3px;
}

</style>

<style>
@page {
        size: letter portrait;
        @frame content_frame {
            left: 150pt;
            width: 240pt;
            top: 50pt;
            height: 320pt;
            -pdf-frame-border: 1;    
        }
}

</style>


</body>

</html>