<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<center>
	  <h2>Page Not Found</h2>
	    <p>Sorry, the page you requested is not there.
	      # if current_user.is_anonymous() 
	        <p><a href="{{ url_for('basePortal.login')}}">go back to login page</a>
	      # else
	        <p><a href="{{ url_for('basePortal.viewProfile') }}">get back to dashboard</a>
	      # endif
	  
	</center>
</body>

