<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<center>
		<h1>An unexpected error has occurred</h1>
		<p>The administrator has been notified. Sorry for the inconvenience!</p>

		# if current_user.is_anonymous() 
			<p><a href="{{ url_for('basePortal.login')}}">go back to login page</a>
		# else
			<p><a href="{{ url_for('basePortal.viewProfile') }}">get back to dashboard</a>
		# endif

	  
	</center>
</body>

