{% from "_formhelpers.html" import render_field,render_user %}
{% extends "base_add_user.html" %}

# block formdata

<meta name="csrf-token" content="{{ csrf_token() }}">

<div class="col-md-1">
	<!-- extra left space-->
</div>

<div class="col-md-10">
	<form id="form" role="form" class="form-horizontal" method=post action="{{ url_for('basePortal.addMerchantWithPos') }}" enctype = multipart/form-data>
		{{ render_field(form.csrf_token) }}	

		<div class="row">
			<div class="col-md-4"></div>


			## show hierarchy fieldset if there is any hierarchy
			<div class="col-md-5">
				# if showCompanyList or showAgentList
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title"> Hierarchy </h3>
						</div>
						<div class="panel-body">
							# if showCompanyList
								<div class="row form-group">
									<div class="col-md-4 control-label">
										<label for="companies">company</label>
									</div>
									## if only one company highlight it by default
									<div class="col-md-8">
										<select id="companies" name = "companies" class="form-control">
											# if companyList|length != 1
												<option value="-1">select a company</option>
											# endif
											#for c in companyList
												<option value="{{c}}">{{c}}</option>
											#endfor
										</select>
									</div>

								</div>

							# endif

							# if showAgentList
								<div class="row form-group">
									<div class="col-md-4"> 
										<label for="forAgent" class="control-label"> for_agent </label>
									</div>
									<div class="col-md-2">
										<input id="forAgent" type="checkbox" name="forAgent" class="form-control"> 
									</div>

								</div>

								<div id="agentBlock" style="visibility:hidden;" class="row form-group">
									<div class="col-md-4"> 
										<label for="agents" class="control-label" >agent</label>
									</div>

									<div class="col-md-8"> 
										<select id="agents" name="agents" class="form-control">
											<option value="-1">select an agent</option>
											#	for a in agentList
												<option value="{{a}}">{{a}}</option>
											# endfor
										</select>
									</div>
								</div>
							# endif
						</div>
					</div>
				# endif
			</div>

			<div class="col-md-3"></div>


		<div class="row">
			{{ render_user(form) }}
		</div>

		<div class="row"> 
			<div class="col-md-6">
				<div class="panel panel-primary">
				    <div class="panel-heading">
		        	<h3 class="panel-title"> Payment Details </h3>
		      		</div>

		      		<div class="panel-body">
						{{ render_field(form.currency) }}
						{{ render_field(form.paymentMode) }}
						{{ render_field(form.micr) }}
						{{ render_field(form.paymentAcNumber) }}
						{{ render_field(form.serial) }}
						{{ render_field(form.amount) }}
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="panel panel-primary">
				    <div class="panel-heading">
		        	<h3 class="panel-title"> ID Proof Details</h3>
	      			</div>

			      	<div class="panel-body">
			      		{{ render_field(form.idProofImage) }}
			      		## posData hidden field
								{{ render_field(form.posData) }}
			      	</div>
				</div>
			</div>
		</div>

		
		

	</form>

	## pos entry terminalbox
	<div class="row">
		<div class="col-md-6">
			# if posList|length != 0
				<div class="terminalbox panel panel-primary">   
					<div class="panel-heading">
						<h3 class="panel-title"> Terminal Details </h3>
					</div>
					<div class="panel-body">
						# for pos in posList
						<div class="content">
						        <label class = 'label-num' for="itemFirst">POS {{loop.index}}:</label>
						        <input type="text" name"itemFirst[]" value={{pos}}>
						        <button class="btn btn-danger removeBtn ">Remove</button>    
						</div>
						# endfor

						<button class="btn btn-success btn-lg addBtn">Add Another</button>     
					</div>
					
				</div>
			# else
				<div class="terminalbox panel panel-primary">   
					<div class="panel-heading">
						<h3 class="panel-title"> Terminal Details </h3>
					</div>

					<div class="panel-body">
						<div class="content">
		    	    <label class = 'label-num' for="itemFirst">POS 1:</label>
			        <input type="text" name"itemFirst[]">
			        <button  class="btn btn-danger removeBtn ">Remove</button>    
		        </div>
		
				    <button class="btn btn-success btn-lg addBtn">Add Another</button>     
				  </div>
				</div>
			# endif
		</div>
	</div>


	## for submission and cancel actions

	<center>
			<button class="btn btn-success btn-lg" onclick="cancel()">Cancel</button> 
			<button type="submit" class="btn btn-success btn-lg" onClick='submitMerchantForm()'>Submit</button>
	</center>


</div>

<div class="col-md-1">
	<!-- extra right space -->
</div>

<script type="text/javascript">

$(document).ready(function(){

	$(document).ready(function(){
	    $("#form").submit(function(event){
	    	// validate fields specific to merchant.
	    	var isOk = true;

	    	var micrId = "micr"
			var paymentAcNumberId = "paymentAcNumber"
			var serialId = "serial"
			var amountId = "amount"
			var idProofImageId = "idProofImage"
			var posDataId = "posData"

			// removing previous errors
			$("#"+micrId+"error").empty()
			$("#"+idProofImageId+"error").empty()
			$("#"+paymentAcNumberId+"error").empty()
			$("#"+serialId+"error").empty()
			$("#"+amountId+"error").empty()
			$("#"+posDataId+"error").empty()

			// removing errors from server side
			$(".errors").empty()


			//checking the required and upload limt on file field
			maxSize = 5 * 1024 * 1024
			if( $("#"+idProofImageId).get(0).files.length == 0){
				isOk = false
				$("#"+idProofImageId+"error").append("<li>"+ "File not attached"+"</li>")

			}else{
				fileSize = $("#"+idProofImageId).get(0).files[0].size
				if(fileSize > maxSize){
					isOk = false
					$("#"+idProofImageId+"error").append("<li>"+ "file size should be less than 5 MB"+"</li>")
				}
			}

			// validating pos
			var terminalbox = $('.terminalbox')
		    var posEntries = terminalbox.children('.content');

		    var data = '';

		    for(var i=0;i<posEntries.length ;i++){
		    	pos = $(posEntries[i]).find('input').val();
		    	if(pos.length > 0){
		    		data +=	pos+';';
		    		if(!pos.match(/^-?[0-9]+$/)){
		    			$("#"+posDataId+"error").append("<li>"+ "Pos should have all numerals"+"</li>")	
		    			break;
		    		}
		    	}
		    	else{
		    		isOk = false
					$("#"+posDataId+"error").append("<li>"+ "One of the pos entry is empty"+"</li>")
					break;
				}

		    }





			isOk = render_input_alphanumeric_chain_error(micrId) && isOk;
			isOk = render_input_digit_chain_error(paymentAcNumberId) && isOk;
			isOk = render_input_alphanumeric_chain_error(serialId) && isOk;

			var str = $("#"+amountId).val().toString();
			// float or integer
			if(!(str.match(/^-?[0-9]*[.][0-9]+$/) || str.match(/^-?[0-9]+$/))) {
				isOk = false
			    $("#"+amountId+"error").append("<li>"+ amountId+ "should be a float value"+"</li>")
			}

	    	return isOk;
		});
	});

	var c = $("#companies").find(":selected")[0].value;
	if(c != -1 && c != undefined){
		getAgents(c)
	}

	$("input").keypress(function(event){
        if (event.which == 13) {
            event.preventDefault();
            submitMerchantForm();
    }
    });

	$("#companies").change(function() {
		getAgents(this.value);
	});

	$("#forAgent").click(function(){

		if(this.checked){
			showAgents();
		}else{
			hideAgents();
		}
		
	});


		//remove button
	$('.removeBtn').click( function() {
	    var terminalbox = $(this).closest('.panel-body');
	    var counts = terminalbox.children('.content').length;

	    if(counts == 1){
	    	return 'adsf'
	    }

	    $(this).parent().remove();

	    terminalbox.find('.label-num').text(function(idx){
	        return 'POS '+ (1 + idx)
	    })
	});

	//add button
	$('.addBtn').click( function() {
	    var terminalbox = $(this).closest('.panel-body');
	    var counts = terminalbox.children('.content').length;
	    var content = $(this).prev();

	    content.clone(true,true).insertAfter(content).find('input').val('').end().find('.label-num').text('POS '+(counts+1));

	    terminalbox.find('.removeBtn').show();
	});

});

// submits form merchant+payment with hidden posData field
function submitMerchantForm(){
	var terminalbox = $('.terminalbox')
    var posEntries = terminalbox.children('.panel-body').children('.content');

    var data = '';
    //getting all pos entries with non-empty values
    for(var i=0;i<posEntries.length ;i++){
    	pos = $(posEntries[i]).find('input').val();
    	if(pos.length > 0)
    		data +=	$(posEntries[i]).find('input').val()+';';
    }
	
	$("#posData").val(data)
	$("#form").submit();
}



function cancel(){
  console.log('inside cancel')
  window.location.assign("{{url_for('basePortal.viewProfile')}}")
}



function showAgents(){
	var agents = document.getElementById("agents")
	var agentBlock = document.getElementById("agentBlock")
	agentBlock.style.visibility = "visible"
}

function hideAgents(){
	var agents = document.getElementById("agents")
	var agentBlock = document.getElementById("agentBlock")
	agentBlock.style.visibility = "hidden"
}


function getAgents(company){
	postData = "company="+company
	makeRequest('/base/getAgents',postData)
}

function makeRequest(url,postData){
	postData += "&csrf_token="+"{{ csrf_token() }}"
	httpRequest = new XMLHttpRequest();
	httpRequest.onreadystatechange = populateAgents;
	httpRequest.open('POST',url);
	httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
	httpRequest.send(postData);
}

// for populating agents
function populateAgents(){
	try{
		if(httpRequest.readyState == 4){
			if(httpRequest.status == 200){
				j = JSON.parse(httpRequest.responseText)
				data = "<option value=\"-1\">"+"select an agent"+"</option>";
				for(var i=0;i<j.agents.length;i++){
					agent = j.agents[i];
					data += "<option value=\""+agent +"\">"+agent+"</option>";
				}
				$('#agents').html(data);
				
			}else{
				alert('Response could not be fetched')
			}
		}
	}
	catch(e){
		alert('exception caught'+e.description)
	}

}


</script>


# endblock