{% extends "base_edit_user.html" %}

# block formdata

<form id="form" class="pure-form pure-form-aligned" method = post action="{{ url_for('basePortal.editMerchant',merchant = merchant.username ) }}">
	{{ render_field(form.csrf_token) }}
	{{ render_user(form,False) }}
	<center>{{ cancelAndSave()}}</center>

</form>

<script type="text/javascript">

$(document).ready(function(){

	$(document).ready(function(){
	    $("#form").submit(function(event){
	    	// validate fields specific to merchant.
	    	return true;
		});
	});


    $("#form").submit(function(event){
    	// validate fields specific to merchant.
    	return true;

	});
});

function cancel(){
  console.log('inside cancel')
  window.location.assign("{{url_for('basePortal.viewProfile')}}")
}
</script>


# endblock