{% extends "base.html" %}

#block content
<meta name="csrf-token" content="{{ csrf_token() }}">


<div class="col-md-1">
</div>

<div class="col-md-10">
	<div class="row">
		<div class="col-md-5">
			{{render_user_details(merchant)}}
		</div>
		<div class="col-md-4">
			{{render_action_list(actionList)}}

			## merchant verification
			# if showVerifyMerchant
				<div class="panel panel-primary merchant_verification_area">
				    <div class="panel-heading">
				      <h3 class="panel-title"> Merchant verification </h3>
				    </div>

				    <div class="panel-body">
				      <button id="{{merchant.id}}" class="verify_merchant btn btn-success btn-lg"> Verify </button>
				    </div>
				</div>
			# endif

			# if paymentList|length != 0
				<div class="panel panel-primary payment_verification_area">
				    <div class="panel-heading">
				      <h3 class="panel-title"> Payment verification </h3>
				    </div>

				    <div class="panel-body">
				    	<table class="table">
				    	<tbody>
				    	# for payment in paymentList
							# if payment.isVerified == False
								<tr id="payment{{payment.id}}">
									<td>
									<button class="btn btn-lg btn-trans">{{payment.micr}}</button>
									</td>
									<td>
									<button id="{{payment.id}}" class="verify_payment btn btn-success btn-lg"> Verify </button>
									</td>
								</tr>
							# endif
						# endfor
						</tbody>
						</table>
				    </div>
				</div>					
			# endif

			# if posList|length != 0
				<div class="panel panel-primary pos_verification_area">
				    <div class="panel-heading">
				      <h3 class="panel-title"> POS verification </h3>
				    </div>

				    <div class="panel-body">
				    	<table class="table">
				    	<tbody>
				    		# for pos in posList
								<tr id="pos{{pos.id}}" class="pos_verification_area">
									<td>
									<button class="btn btn-lg btn-trans">{{pos.mobileNumber}}</button>
									</td>
									<td>
									<button id="{{pos.id}}" class="verify_pos btn btn-success btn-lg"> Verify </button>
									</td>
								</tr>
							# endfor
				    	
						</tbody>
						</table>
				    </div>
				</div>
			# endif

		</div>

		# if showAllotMidBlock
			<div class="col-md-3">
				<div id="allotMidBlock" class="panel panel-primary">
			    <div class="panel-heading">
			      <h3 class="panel-title"> MID Allocation </h3>
			    </div>

			    <div class="panel-body">
			      <input id="mid" type="text" style="margin-bottom: 10px" name="mid" placeholder="MID" class="form-control"></input>
						<center>
							<button id="allotMidButton" class="btn btn-success btn-lg"/>Allot </button>
						</center>
			    </div>
				</div>
			</div>
		# endif

		# if showAllotDongleBlock
			<div class="col-md-3">
				<div id="allotDongleBlock" class="panel panel-primary">
			    <div class="panel-heading">
			      <h3 class="panel-title"> Dongle Allocation </h3>
			    </div>

			    <div class="panel-body">
			      <input id="dongleSerial" type="text" style="margin-bottom: 10px" placeholder="Dongle serial" class="form-control"></input> 
			      <center>
							<button id="allotDongleButton" class="btn btn-success btn-lg"/>Associate </button>
							<p id="allotDongleResult">	</p>
						</center>
			    </div>
				</div>

				## showing dongle info of merchant
				<div id="dongleInfoBlock" class="panel panel-primary">
					<div class="panel-heading">
			      <h3 class="panel-title"> Associated Dongles</h3>
			    </div>

					<div class="panel-body">
						# set dongles = merchant.dongles
							
						# if dongles|length == 0
							<p id="unAllotDongleResult">
								No dongles associated.
							</p>
						# else
							<p id="unAllotDongleResult"> </p>

							<table id="dongleTable" class="table">
			        		<tbody>
			        			<tr>
			        				<th> Serial </th>
			        			</tr>
			        			# for dongle in dongles
			        			<tr>
			        				<td>
			        					{{ dongle.dongleSerial }}
			        				</td>
			        				# if showAllotDongleBlock
			        				<td>
			        					<button class="unAllot btn btn-success " id= "{{dongle.dongleSerial}}"  />
			        					DisAssociate
			        					</button>
			        				</td>
			        				# endif
			        			</tr>
			        			# endfor
			        		</tbody>
			        	</table>

						# endif
					</div>
			</div>
		# endif


	</div>
</div>

<div class="col-md-1">
</div>


<script type="text/javascript">
$(document).ready(function(){
	var csrftoken = $('meta[name=csrf-token]').attr('content')
	
	$.ajaxSetup({
	    beforeSend: function(xhr, settings) {
	        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
	            xhr.setRequestHeader("X-CSRFToken", csrftoken)
	        }
	    }
	})

	
	# if showAllotMidBlock

	$("#allotMidButton").click(function(){
		$.post("{{url_for('basePortal.allotMid',merchant = merchant.username)}}",
			{mid:$("#mid").val()},
			function(data){
				if(data == "success"){
					$("#allotMidBlock").remove()
				}
			}
		)
	});
	# endif

	# if showAllotDongleBlock

	$("#allotDongleButton").click(function(){
		$.post("{{url_for('adminPortal.allotDongle',merchant = merchant.username)}}",
			{dongleSerial : $("#dongleSerial").val()},
			function(data){
		        var response = jQuery.parseJSON(data);

				if(response.status){
					// request getDongles function with  merchant as argument
					populateDongles()

					$("#allotDongleResult").text(response.notes);
					$("#dongleSerial").val("");	
					
				}else{
					// set response.notes para
					$("#allotDongleResult").text(response.notes);
					$("#dongleSerial").val("");
				}
			}
		)
	});

	$(".unAllot").click(function(){
		var id = this.id;
		$.post("{{url_for('adminPortal.unallotDongle')}}",
			{dongleSerial : this.id },
			function(data){
		        var response = jQuery.parseJSON(data);

				if(response.status){
					// request getDongles function with  merchant as argument
					populateDongles()
					
					$("#unAllotDongleResult").text(response.notes);
				}else{
					// set unallot response
					$("#unAllotDongleResult").text(response.notes);
				}
			}

		)
	});


	$(".verify_merchant").click(function(){
		var id = this.id;
		$.post("{{url_for('basePortal.verifyMerchant')}}",
			{id : this.id },
			function(data){
		        var response = jQuery.parseJSON(data);

				if(response.status){
					$(".merchant_verification_area").remove()
				}
				$(".flashes").empty()
   				$(".flashes").append("<div class=\"alert alert-success alert-dismissable\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>"+response.feedback +"</div>")
   				// for scrolling all the way up.
   				$('html, body').animate({
			        scrollTop: $("#navigationBlock")
			    }, 2000);
			}

		)
		
	});

	$(".verify_payment").click(function(){
		var id = this.id;
		
		$.post("{{url_for('basePortal.verifyPayment')}}",
			{paymentId : this.id },
			function(data){
		        var response = jQuery.parseJSON(data);

				if(response.status){
					$("#payment"+id).remove()
					if($(".verify_payment").length == 0)
						$(".payment_verification_area").remove()
				}
				$(".flashes").empty()
   				$(".flashes").append("<div class=\"alert alert-success alert-dismissable\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>"+response.feedback +"</div>")
   				$('html, body').animate({
			        scrollTop: $("#navigationBlock")
			    }, 2000);
			}

		)
	});

	$(".verify_pos").click(function(){
		var id = this.id;
		
		$.post("{{url_for('basePortal.verifyPOS')}}",
			{id : this.id },
			function(data){
		        var response = jQuery.parseJSON(data);

				if(response.status){
					$("#pos"+id).remove()
					if($(".verify_pos").length == 0)
						$(".pos_verification_area").remove()
				}
				$(".flashes").empty()
   				$(".flashes").append("<div class=\"alert alert-success alert-dismissable\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>"+response.feedback +"</div>")
   				$('html, body').animate({
			        scrollTop: $("#navigationBlock")
			    }, 2000);
			}

		)
	});




	
	function populateDongles(){
		window.location.assign("{{url_for('basePortal.viewMerchant',name=merchant.username)}}")
	}

	# endif

});

</script>

# endblock


