# extends "base.html"

# block content

<div class="col-md-4">
</div>

<div class="col-md-4">
    <form id="form" role="form" class="form-horizontal" method=post action={{url_for("basePortal.addPosUser")
+'?terminal='+clientId}}>
    {{ render_field(form.csrf_token) }} 

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Add POS User</h3>
      </div>
      <div class="panel-body">
        {{render_field(form.username)}}
        {{render_field(form.password)}}
        {{render_field(form.confirmPassword)}}
       </div>
    </div>

    <center>
        {{ cancelAndSave() }}
    </center>

</form>


</div>

<div class="col-md-4">
</div>


<script type="text/javascript">

$(document).ready(function(){
    $("#form").submit(function(event){
        minUsernameLength = 6
        minPasswdLength  = 8

        isOk = true

        var usernameId = "username"
        var passwordId = "password"
        var confirmPasswordId = "confirmPassword"

        $("#"+usernameId+"error").empty();
        $("#"+passwordId+"error").empty();
        $("#"+confirmPasswordId+"error").empty();

        isOk = render_input_length_error(usernameId,minUsernameLength)
        isOk = render_input_password_strength_error(passwordId,minPasswdLength) && isOk;
        isOk = render_input_required_error(confirmPasswordId,minPasswdLength) && isOk;

        if($("#"+passwordId).val() != $("#"+confirmPasswordId).val()){
            isOk = false;
            var error = $("#"+confirmPasswordId+"error").val();
            $("#"+confirmPasswordId+"error").append("<li>"+"Passwords must match"+"</li>");
            $("#"+passwordId).val("");
            $("#"+confirmPasswordId).val("");
        }
        
        return isOk


    });
});

	

function cancel(){
  console.log('inside cancel')
  window.location.assign("{{url_for('basePortal.viewProfile')}}")
}
</script>

# endblock