{% extends "base.html" %}

# block content

<div class="col-md-4">
</div>

<div class="col-md-4">
    <form role="form" class="form-horizontal" id="change_passwd" autocomplete="off" action="{{url_for('basePortal.changePosUserPassword')+'?terminal='+terminal+'&username='+username}}" method=post>
    {{ render_field(form.csrf_token) }}

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Change Password</h3>
      </div>
      <div class="panel-body">
        {{ render_field(form.newPassword) }}
        {{ render_field(form.confirmPassword) }}
       </div>
    </div>

    <center>
        {{ cancelAndSave() }}
    </center>

</form>
</div>

<div class="col-md-4">
</div>

<script type="text/javascript">

function cancel(){
	console.log('inside cancel')
    window.location.assign("{{url_for('basePortal.viewProfile')}}")
}

$(document).ready(function(){
    $("#form").submit(function(event){
        minPasswdLength = 8
        isOk = true

        var newPasswordId = "newPassword"
        var confirmPasswordId = "confirmPassword"

        $("#"+newPasswordId+"error").empty();
        $("#"+confirmPasswordId+"error").empty();

        isOk = render_input_password_strength_error(newPasswordId,minPasswdLength) && isOk;
        isOk = render_input_required_error(confirmPasswordId,minPasswdLength) && isOk;

        if($("#"+newPasswordId).val() != $("#"+confirmPasswordId).val()){
            isOk = false;
            var error = $("#"+confirmPasswordId+"error").val();
            $("#"+confirmPasswordId+"error").append("<li>"+"Passwords must match"+"</li>");
            $("#"+newPasswordId).val("");
            $("#"+confirmPasswordId).val("");
        }
        
        return isOk




    });
});


</script>


# endblock