{% from "_formhelpers.html" import render_field,cancelAndSave %}
{% extends "base.html" %}
# block content

<div class="col-md-4">
</div>


<div class="col-md-5">

  <form id="form" role="form" class="form-horizontal" method=post action="{{url_for('basePortal.addEmployee')+'?username='+username}}">

    {{ render_field(form.csrf_token,False) }}


    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Employee Details</h3>
      </div>
      <div class="panel-body">
        {{ render_field(form.username) }}
        {{ render_field(form.fullname) }}
        {{ render_field(form.mobileNumber) }}
        {{ render_field(form.email) }}

        <div id="employeeTypeBlock" class="row form-group">
            <label for="employeeType" class="control-label col-md-4">Employee Type</label>
            <div class="col-md-8">
              <select id="employeeType" name="employeeType" class="form-control">
                <option value="-1">select an employee type</option>
                # for m in employeeTypeList
                  <option value="{{m}}">{{m}}</option>
                # endfor
              </select>
            </div>
        </div>

      </div>
  </div>

  <center>
    {{cancelAndSave()}}
  </center>
        
  </form>
  
</div>

<div class="col-md-3">
</div>

<script type="text/javascript">

$(document).ready(function(){
    $("#form").submit(function(event){

      minUsernameLength = 6
      isOk = true

      var usernameId = "username"
      var fullnameId = "fullname"
      var mobileNumberId = "mobileNumber"
      var emailId = "email"

      // removing all field errors by class name
      $("."+"localvalidationlist").empty();
      
      isOk = render_input_length_error(usernameId,minUsernameLength);
      isOk = render_input_required_error(fullnameId) && isOk;
      isOk = render_input_digit_chain_error(mobileNumberId) && isOk;
      isOk = render_input_email_error(emailId) && isOk;

      return isOk;

    });

});


function cancel(){
  console.log('inside cancel')
  window.location.assign("{{url_for('basePortal.viewProfile')}}")
}

</script>


# endblock