{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}

# block content

<div class="col-md-4">
</div>

<div class="col-md-5">

	<div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Employee Details</h3>
      </div>
      <div class="panel-body">
      	<form id="form" role="form" class="form-horizontal" action="{{url_for('basePortal.editEmployee',employee= employee.username )}}" method=post>
		{{ render_field(form.csrf_token) }}
		{{ render_field(form.email) }}

		<center>{{ cancelAndSave() }}</center>
		
	</form>
      </div> 	
    </div>

	
</div>

<div class="col-md-3">
</div>

# endblock

<script type="text/javascript">
function cancel(){
  console.log('inside cancel')
  window.location.assign("{{url_for('basePortal.viewProfile')}}")
}

$(document).ready(function(){
    $("#form").submit(function(event){

		isOk = true
		var emailId = "email"

		$("#"+emailId+"error").empty();
		isOk = render_input_email_error(emailId);
		return isOk;
	});

});
</script>


