{% extends "base.html" %}

#block content


<div class="col-md-1">
</div>

<div class="col-md-10">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">

            <div class="panel-heading">
              <h3 class="panel-title"> Employee Details </h3>
            </div>

            <div class="panel-body">
              <table class="table">
                <tbody>
                    {{ render_table_row("Username:",employee.username) }}
                    {{ render_table_row("Fullname:",employee.fullname) }}
                    {{ render_table_row("MobileNumber:",employee.mobileNumber) }}
                    {{ render_table_row("Email:",employee.email) }}
                    {{ render_table_row("subRole:",subRole) }}
                </tbody>
              </table>
            </div>

          </div>
      </div>
      <div class="col-md-3">
        {{render_action_list(actionList)}}
      </div>
  </div>

</div>

<div class="col-md-1">
</div>

# endblock


