{% extends "base_add_user.html" %}

# block formdata

<div class="col-md-1">
</div>

<div class="col-md-10">
	<div class="row">
		

		<form id="form" role="form" class="form-horizontal" method=post
			  action="{{url_for('basePortal.addCompany')}}">

			{{ render_field(form.csrf_token) }}
			{{ render_user(form) }}
			
			<center>
				{{ cancelAndSave()}}
			</center>
		</form>
	</div>

</div>

<div class="col-md-1">
</div>


<script type="text/javascript">

$(document).ready(function(){
    $("#form").submit(function(event){
    	// validate fields specific to company.
    	return true;

	});
});

function cancel(){
  console.log('inside cancel')
  window.location.assign("{{url_for('basePortal.viewProfile')}}")
}
</script>


#endblock


