{% from "_formhelpers.html" import render_field %}
{% extends "base_edit_user.html" %}

# block formdata

<div class="col-md-1">
</div>

<div class="col-md-10">

  <form id="form" role="form" class="form-horizontal" method=post 
      action="{{url_for('basePortal.editCompany',company= company.username )}}">
    {{ render_field(form.csrf_token) }}
    {{ render_user(form,False) }}
    <center>
      {{ cancelAndSave()}}
    </center>
  </form>

</div>



<script type="text/javascript">

$(document).ready(function(){
    $("#form").submit(function(event){
    	// validate fields specific to company.
    	return true;

	});
});

function cancel(){
  console.log('inside cancel')
  window.location.assign("{{url_for('basePortal.viewProfile')}}")
}

</script>

# endblock


