{% extends "base.html" %}
# block content
<div class="col-md-4">
</div>

<div class="col-md-4">
	<form id="form" role="form" class="form-horizontal" method=post action="{{url_for('basePortal.editProfile')}}">
		{{ render_field(form.csrf_token) }} <!-- Kept here to avoid the extra space below panel title -->

		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title">Edit Details</h3>
		  </div>
		  <div class="panel-body">
			{{ render_field(form.email) }}    
		  </div>
		</div>

		<center>
			{{cancelAndSave()}}
		</center>

	</form>
</div>

<div class="col-md-4">
</div>

<script type="text/javascript">

function cancel(){
  window.location.assign("{{url_for('basePortal.viewProfile')}}")
}
</script>

# endblock