{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}


# block content

<script type="text/javascript">

$(document).ready(function(){
    $("#forgot_passwd").submit(function(event){
    	console.log("event occured")
    	isOk = true
    	var usernameId = "username";
    	$("#"+usernameId+"error").empty();
        isOk = render_input_required_error(usernameId)

        return isOk;     
    });
});

    
function cancel(){
	//redirect it to login page
	console.log('inside cancel')
  	window.location.assign("{{url_for('basePortal.login')}}")
}

</script>


<div class="col-md-2">
</div>

<div class="col-md-8">
    <form id="forgot_passwd" role="form" class="form-horizontal" action="{{url_for('basePortal.forgotPassword')}}" autocomplete="off" method="post">
        {{ render_field(form.csrf_token) }}
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Change Password</h3>
          </div>
         <div class="panel-body">
            {{ render_field(form.username) }}
            {{ render_field(form.recaptcha) }}
          </div>
        </div>
    
    <center>
        {{ cancelAndSave()}}
    </center>

    </form>
</div>

<div class="col-md-2">
</div>


# endblock
