{% from "_formhelpers.html" import render_field,cancelAndSave %}

<html> 
<head>
    <title>Login-Aasaanpay</title>

    <!-- Necessary javascript files -->
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.min.js') }}"> </script>

    <!-- Not needed for every page. Move only to related pages-->
    <script type=text/javascript src="{{ url_for('static', filename='js/sha256.js') }}"> </script>

    <!-- Necessary styling files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <script type="text/javascript">

    $(document).ready(function(){
        $("input").keypress(function(event){
            if (event.which == 13) {
                event.preventDefault();
                hashPassword();
        }
        });
    });
        
    function hashPassword(){
        var password= document.getElementById("password").value;
        document.getElementById("submits").disabled = true;
        document.getElementById("password").value = CryptoJS.SHA256(password);

        document.getElementById("login").submit();
    }


    </script>

</head>

<body>


<div class="container" >
    
        <center>
            <img src="{{url_for('static',filename="images/large_logo.png")}}"> 
        </center>
    
        
        <form role = "form" class="form-signin" id="login" method=post autocomplete="off" action="{{url_for('basePortal.login')}}">
            {{ render_field(form.csrf_token) }}
            <input id="{{form.username.id}}" name="{{form.username.name}}"type="text" class="form-control" placeholder="Username">
            # if form.username.errors
            <ul class=errors>
            {% for error in form.username.errors %}
              <li>{{ error }}</li>
            {% endfor %}
            </ul>
            # endif
            <input id="{{form.password.id}}" name="{{form.password.name}}"type="password" class="form-control" placeholder="Password">
            # if form.password.errors
            <ul class=errors>
            {% for error in form.password.errors %}
              <li>{{ error }}</li>
            {% endfor %}
            </ul>
            # endif
            <center>
                <a href="{{url_for('basePortal.forgotPassword')}}">Forgot password ?</a>
            </center>
            <br>

                

            <input type="button" class="btn btn-lg btn-primary btn-block" onclick="hashPassword()" id="submits" value="Login" > 

        </button>
        </form>
        
        <center>
            {% with messages = get_flashed_messages() %}
             {% if messages %}
                 {% for message in messages %}
                    <div class="row">
                        <div class="col-md-4"></div>
                        
                        <div class="alert alert-success alert-dismissable col-md-4" >
                          <button type="button" style="text-align: center" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                          {{ message }}
                        </div> 

                        <div class="col-md-4"></div>
                    </div>
                    
                 {% endfor %}
             
             {% endif %}
            {% endwith %}
        </center>
        </div>

        

 </div>
</body>

</html>
