{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
# block content

<div class="col-md-4">
</div>

<div class="col-md-4">
	<form role="form" class="form-horizontal" id="reset_passwd" action="{{url_for('basePortal.resetPassword')+'?token='+token}}" autocomplete="off" method="post">
	    {{ render_field(form.csrf_token) }}
	    <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Change Password</h3>
          </div>
         <div class="panel-body">
            {{ render_field(form.password) }}
			{{ render_field(form.confirmPassword) }}
          </div>
        </div>

	<center>
		{{ cancelAndSave() }}
	</center>

	</form>
</div>

<div class="col-md-4">
</div>


<script type="text/javascript">
    
function cancel(){
    window.location.assign("{{url_for('basePortal.viewProfile')}}")
}

$(document).ready(function(){
    $("#reset_passwd").submit(function(event){
        
        try{
        	
	        minPasswdLength = 8;
	        isOk = true;  

	        var passwordId = "password"
	        var confirmPasswordId = "confirmPassword"

	        // removing all field errors by class name
      		$("."+"localvalidationlist").empty();

	        isOk = render_input_password_strength_error(passwordId,minPasswdLength);        
	        isOk = render_input_required_error(confirmPasswordId,minPasswdLength) && isOk;

	        if($("#"+passwordId).val() != $("#"+confirmPasswordId).val()){
	            isOk = false;
	            var error = $("#"+confirmPasswordId+"error").val();
	            $("#"+confirmPasswordId+"error").append("<li>"+"Passwords must match"+"</li>");
	            $("#"+passwordId).val("");
	            $("#"+confirmPasswordId).val("");
	        }
	       	console.log(isOk) 
	        return isOk
	        
    	}catch(err){
    		console.log(err.message)
    	}
        
    });

});



</script>


# endblock