{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}

# block content

<div class="col-md-4">
</div>

<div class="col-md-5">
    <form class="pure-form pure-form-aligned" id="change_passwd" autocomplete="off" action="/base/shouldChangePassword" method="post">
        {{ render_field(form.csrf_token) }}

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Change Password</h3>
          </div>
         <div class="panel-body">
            {{ render_field(form.newPassword) }}
            {{ render_field(form.confirmPassword) }}
         </div>
        </div>

        <center>
            {{ cancelAndSave()}}
        </center>
    </form>

</div>

<div class="col-md-3">
</div>


<script type="text/javascript">
    
function cancel(){
    window.location.assign("{{url_for('basePortal.viewProfile')}}")
}


$(document).ready(function(){
    $("#change_passwd").submit(function(event){
        
        console.log("inside submit event")       

        minPasswdLength = 8;
        isOk = true;  

        var newPasswordId = "newPassword"
        var confirmPasswordId = "confirmPassword"

        // removing all field errors by class name
        $("."+"localvalidationlist").empty();

        //removing all previous field errors provided by server
        $("."+"help-block").text("");
        
        isOk = render_input_password_strength_error(newPasswordId,minPasswdLength);        
        isOk = render_input_required_error(confirmPasswordId,minPasswdLength) && isOk;

        if($("#"+newPasswordId).val() != $("#"+confirmPasswordId).val()){
            isOk = false;
            var error = $("#"+confirmPasswordId+"error").val();
            $("#"+confirmPasswordId+"error").append("<li>"+"Passwords must match"+"</li>");
            $("#"+newPasswordId).val("");
            $("#"+confirmPasswordId).val("");
        }
        
        return isOk
        
        
    });

});



</script>


# endblock