{% extends "base.html" %}
# block content

<div class="col-md-4">
</div>

<div class="col-md-4">
	<div class="panel panel-primary">
        <div class="panel-heading">
           <h3 class="panel-title">Profile Details</h3>
        </div>
        <div class="panel-body">
        	<table class="table" >
			    <tbody>
			        {{ render_table_row("Username:",entry.username) }}
			        {{ render_table_row("Fullname:",entry.fullname) }}
			        {{ render_table_row("MobileNumber:",entry.mobileNumber) }}
			        {{ render_table_row("Email:",entry.email) }}
			    </tbody>
			</table>
        </div>
    </div>	
</div>

<div class="col-md-4">
</div>

 


# endblock