{% macro render_field(field, label_visible=true) %}

     <div class="row form-group">
        {% if (field.type != 'HiddenField' and field.type != 'CSRFTokenField') and label_visible %}
            <label for="{{ field.id }}" class="control-label col-md-4">{{ field.label }}</label>
        {% endif %}

        <div class="col-md-8">
            {{ field(class_='form-control', **kwargs) }}
            <div class="localvalidation">
                <ul style="color:red;" id = {{field.id + "error"}} class="localvalidationlist">

                </ul>
            </div>

            {% if field.errors %}
                {% for e in field.errors %}
                    <p class="help-block">{{ e }}</p>
                {% endfor %}
            {% endif %}
        </div>

    </div>
{% endmacro %}


{% macro cancelAndSave() %}
    <button type="button" style="margin-right:5px;margin-top:10px;" class="btn btn-success btn-lg" onclick="cancel()">Cancel</button> 
    <button type="submit" style="margin-left:5px;margin-top:10px;" class="btn btn-success btn-lg">Submit</button>
{% endmacro %}


{% macro render_user(form,forView=True) %}
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"> Personal Details </h3>
      </div>
      <div class="panel-body">

        #if forView
         {{ render_field(form.username) }}
        #endif
         {{ render_field(form.fullname) }}
         {{ render_field(form.mobileNumber) }}

         #if forView
         {{ render_field(form.email) }}
         # endif

      </div>
    </div>
  </div>  

  <div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"> Commission Details </h3>
        </div>
        <div class="panel-body">

            {{ render_field(form.MDR_Debit) }}
            {{ render_field(form.MDR_Credit) }}
            {{ render_field(form.MDR_CreditGold) }}
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"> Bank Details </h3>
      </div>
      <div class="panel-body">
        {{ render_field(form.bankName) }}
        {{ render_field(form.bankBranch) }}
        {{ render_field(form.ifsc) }}
        {{ render_field(form.acNumber) }}
       </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"> Address Details </h3>
        </div>
        <div class="panel-body">
            {{ render_field(form.address1) }}
            {{ render_field(form.address2) }}
            {{ render_field(form.city) }}
            {{ render_field(form.district) }}
            {{ render_field(form.state) }}
            {{ render_field(form.pincode) }}
            {{ render_field(form.country) }}
        </div>
    </div>
  </div>
</div>

{% endmacro%}


{% macro render_table_row(key,value)%}
<tr>
    <td><b> {{key}} </b></td>
    <td>{{value}}</td>
</tr>
{% endmacro%}


{% macro render_view_table(user) %}
    <table class="table"  >
        <tbody>
            <tr>
                <td align=center colspan=2>
                    <h3> Personal Details </h3>
                </td>
            </tr>

            {{ render_table_row("Username:",user.username) }}
            {{ render_table_row("Fullname:",user.fullname) }}
            {{ render_table_row("MobileNumber:",user.mobileNumber) }}
            {{ render_table_row("Email:",user.email) }}

            <tr>
                <td align=center colspan=2>
                    <h3> Bank Details </h3>
                </td>
            </tr>
            {{ render_table_row("BankName:",user.bankName) }}
            {{ render_table_row("BankBranch:",user.bankBranch) }}
            {{ render_table_row("AcNumber:",user.acNumber) }}
            {{ render_table_row("MDR_Debit:",user.MDR_Debit) }}
            {{ render_table_row("MDR_Credit:",user.MDR_Credit) }}
            {{ render_table_row("MDR_CreditGold:",user.MDR_CreditGold) }}

            <tr>
                <td align=center colspan=2>
                    <h3> Address Details </h3>
                </td>
            </tr>

            {{ render_table_row("Address1:",user.address1) }} 
            {{ render_table_row("Address2:",user.address2) }} 
            {{ render_table_row("City:",user.city) }} 
            {{ render_table_row("District:",user.district) }} 
            {{ render_table_row("State:",user.state) }} 
            {{ render_table_row("Pincode:",user.pincode) }} 
            {{ render_table_row("Country:",user.country) }} 

        </tbody>
    </table>

{% endmacro %}

# macro render_action_list(actionList)
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"> Actions </h3>
    </div>

    <div class="panel-body">
      # for a in actionList
        <a class="btn btn-danger btn-lg" style="margin-bottom:10px; " href="{{a['url']}}">{{a['name']}}</a> <br>
      # endfor
    </div>
  </div>

# endmacro

# macro render_user_details(user)
  <div class="panel panel-primary">

    <div class="panel-heading">
      <h3 class="panel-title"> Personal Details </h3>
    </div>

    <div class="panel-body">
      <table class="table">
        <tbody>
          {{ render_table_row("Username:",user.username) }}
          {{ render_table_row("Fullname:",user.fullname) }}
          {{ render_table_row("MobileNumber:",user.mobileNumber) }}
          {{ render_table_row("Email:",user.email) }}
        </tbody>
      </table>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"> Address Details </h3>
    </div>

    <div class="panel-body">
      <table class="table">
        <tbody>
          {{ render_table_row("Address1:",user.address1) }} 
          {{ render_table_row("Address2:",user.address2) }} 
          {{ render_table_row("City:",user.city) }} 
          {{ render_table_row("District:",user.district) }} 
          {{ render_table_row("State:",user.state) }} 
          {{ render_table_row("Pincode:",user.pincode) }} 
          {{ render_table_row("Country:",user.country) }} 
        </tbody>
    </table>
     </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"> Bank Details </h3>
    </div>

    <div class="panel-body">
      <table class="table">
        <tbody>
        {{ render_table_row("BankName:",user.bankName) }}
        {{ render_table_row("BankBranch:",user.bankBranch) }}
        {{ render_table_row("AcNumber:",user.acNumber) }}
        {{ render_table_row("MDR_Debit:",user.MDR_Debit) }}
        {{ render_table_row("MDR_Credit:",user.MDR_Credit) }}
        {{ render_table_row("MDR_CreditGold:",user.MDR_CreditGold) }}
      </tbody>
    </table>
     </div>
  </div>
# endmacro

{% macro render_view_user(user,actionList) %}

<div class= "row">
    <div class="col-md-6">
        {{render_user_details(user)}}
    </div>

    <div class="col-md-3">
      {{render_action_list(actionList)}}
    </div>
</div>
{% endmacro %}


{% macro render_amount(amount)%}
{{ amount/100 }}

{% endmacro %}


# macro render_view_users(users,heading,endPoint)


<div class="col-md-3">
  <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{heading}}</h3>
      </div>
      <div class="panel-body">
        <table class="table">
      <tbody>
        # for user in users:
          <tr>
            <td >
              <center>
                <a style="width:150px;" class = "btn btn-success btn-lg" href="{{url_for(endPoint,name=user.username)}}">{{user.username}}</a>
              </center>
            </td>
          </tr>
      # endfor
      </tbody>
    </table>
      </div>
  </div>
</div>


# endmacro