{% from "_formhelpers.html" import render_field,cancelAndSave,render_user,render_table_row,render_view_user,
render_view_table,render_action_list, render_user_details
%}


# set ADMIN = 0
# set COMPANY = 1
# set AGENT = 2
# set MERCHANT = 3

# set ADMIN_ROLE = {'ACCOUNTS_MANAGER' : 1, 'CUSTOMER_CARE' : 2, 'SALES_AGENT' : 3, 'DB_MANAGER' : 8}
# set COMPANY_ROLE = {'ACCOUNTS_MANAGER' : 1, 'CUSTOMER_CARE' : 2, 'SALES_AGENT' : 3}
# set AGENT_ROLE = {'ACCOUNTS_MANAGER' : 1, 'CUSTOMER_CARE' : 2, 'SALES_AGENT' : 3}
# set MERCHANT_ROLE = {'ACCOUNTS_MANAGER' : 1, 'CUSTOMER_CARE' : 2, 'SALES_AGENT' : 3}

# set base_role = current_user.role
# set sub_role = current_user.subRole

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Necessary javascript files -->
	<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"> </script>
	<script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.min.js') }}"> </script>

	<!-- Not needed for every page. Move only to related pages-->
	<script type=text/javascript src="{{ url_for('static', filename='js/sha256.js') }}"> </script>

	<!-- Necessary styling files -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

	{% block head %}
	<title>{% block title %}{% endblock title %}</title>
	{% endblock %}

</head>

<body>

	<div role="navigation" class="navbar navbar-default navbar-fixed-top" id="navigationBlock">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="#" class="navbar-brand">Aasaanpay</a>
			</div>
					# if base_role == ADMIN:
						# if sub_role == 0:	
							<ul class="nav navbar-nav">
								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Transactions <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{url_for('transactionPortal.viewTransactions')}}">View Transactions</a></li>
										</ul>
								</li>

								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Add <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{url_for('basePortal.addCompany')}}">Add Company</a></li>
											<li><a href="{{url_for('basePortal.addAgent')}}">Add Agent</a></li>
											<li><a href="{{url_for('basePortal.addMerchantWithPos')}}">On Board Merchant</a></li>
											<li><a href="{{url_for('basePortal.addEmployee')}}">Add Employee</a></li>
											<li><a href="{{url_for('adminPortal.addClientId')}}">Add ClientId</a></li>
											<li><a href="{{url_for('adminPortal.addDongle')}}">Add Dongle</a></li>
										</ul>
								</li>

								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"> View <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{url_for('basePortal.viewCompanies')}}">View companies</a></li>
											<li><a href="{{url_for('basePortal.viewEmployees')}}">View employees</a></li>
										</ul>
								</li>

								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Verification <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{url_for('basePortal.paymentVerification')}}">VerifyPayments</a></li>
											<li><a href="{{url_for('basePortal.merchantVerification')}}">Merchant Verification</a>
											<li><a href="{{url_for('basePortal.POSVerification')}}">POS Verification</a>
										</ul>
								</li>

								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Search <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{url_for('basePortal.searchTerminals')}}">Terminal search</a></li>
											<li><a href="{{url_for('basePortal.searchMerchants')}}">Merchant search</a> </li>
										</ul>
								</li>
							</ul>
						# elif sub_role == ADMIN_ROLE['ACCOUNTS_MANAGER']:
							<ul class="nav navbar-nav">
								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Transactions <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{url_for('transactionPortal.viewTransactions')}}">View Transactions</a></li>
										</ul>
								</li>

								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"> View <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{url_for('basePortal.viewCompanies')}}">View companies</a></li>
											<li><a href="{{url_for('basePortal.viewEmployees')}}">View employees</a></li>
										</ul>
								</li>

								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Verification <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{url_for('basePortal.paymentVerification')}}">VerifyPayments</a></li>
										</ul>
								</li>

							</ul>
						# elif sub_role == ADMIN_ROLE['CUSTOMER_CARE']:
							<ul class="nav navbar-nav">
								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Transactions <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{url_for('transactionPortal.viewTransactions')}}">View Transactions</a></li>
										</ul>
								</li>

								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"> View <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{url_for('basePortal.viewCompanies')}}">View companies</a></li>
											<li><a href="{{url_for('basePortal.viewEmployees')}}">View employees</a></li>
										</ul>
								</li>


								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Search <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{url_for('basePortal.searchTerminals')}}">Terminal search</a></li>
											<li><a href="{{url_for('basePortal.searchMerchants')}}">Merchant search</a>
										</ul>
								</li>
							</ul>
						# elif sub_role == ADMIN_ROLE['SALES_AGENT']:
							<ul class="nav navbar-nav">
								
							</ul>
						# endif
					# elif base_role == COMPANY:
						# if sub_role == 0:	
							<ul class="nav navbar-nav">
								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Transactions <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{url_for('transactionPortal.viewTransactions')}}">View Transactions</a></li>
										</ul>
								</li>

								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Add <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{url_for('basePortal.addAgent')}}">Add Agent</a></li>
											<li><a href="{{url_for('basePortal.addMerchantWithPos')}}">On Board Merchant</a></li>
											<li><a href="{{url_for('basePortal.addEmployee')}}">Add Employee</a></li>
										</ul>
								</li>

								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"> View <b class="caret"></b></a>
										<ul class="dropdown-menu">
												<li><a href="{{url_for('basePortal.viewAgents')}}">View Agents</a></li>
												<li><a href="{{url_for('basePortal.viewMerchants')}}">View merchants</a></li>
										</ul>
								</li>


								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Search <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{url_for('basePortal.searchTerminals')}}">Terminal search</a></li>
											<li><a href="{{url_for('basePortal.searchMerchants')}}">Merchant search</a> </li>
										</ul>
								</li>
							</ul>
						# elif sub_role == COMPANY_ROLE['ACCOUNTS_MANAGER']:
							<ul class="nav navbar-nav">
								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Transactions <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{url_for('transactionPortal.viewTransactions')}}">View Transactions</a></li>
										</ul>
								</li>

								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"> View <b class="caret"></b></a>
										<ul class="dropdown-menu">
												<li><a href="{{url_for('basePortal.viewAgents')}}">View Agents</a></li>
												<li><a href="{{url_for('basePortal.viewMerchants')}}">View merchants</a></li>
												<li><a href="{{url_for('basePortal.viewEmployees')}}">View employees</a></li>
										</ul>
								</li>

							</ul>
						# elif sub_role == COMPANY_ROLE['CUSTOMER_CARE']:
							<ul class="nav navbar-nav">
								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Transactions <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{url_for('transactionPortal.viewTransactions')}}">View Transactions</a></li>
										</ul>
								</li>

								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"> View <b class="caret"></b></a>
										<ul class="dropdown-menu">
												<li><a href="{{url_for('basePortal.viewAgents')}}">View Agents</a></li>
												<li><a href="{{url_for('basePortal.viewMerchants')}}">View merchants</a></li>
										</ul>
								</li>

								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Verification <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{url_for('basePortal.paymentVerification')}}">VerifyPayments</a></li>
											<li><a href="{{url_for('basePortal.merchantVerification')}}">Merchant Verification</a> </li>
											<li><a href="{{url_for('basePortal.POSVerification')}}">POS Verification</a> </li>
										</ul>
								</li>

								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Search <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{url_for('basePortal.searchTerminals')}}">Terminal search</a></li>
											<li><a href="{{url_for('basePortal.searchMerchants')}}">Merchant search</a> </li>
										</ul>
								</li>
							</ul>
						# elif sub_role == COMPANY_ROLE['SALES_AGENT']:
							<ul class="nav navbar-nav">
								
							</ul>
						# endif
					# elif base_role == AGENT:
						# if sub_role == 0:	
							<ul class="nav navbar-nav">
								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Transactions <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{url_for('transactionPortal.viewTransactions')}}">View Transactions</a></li>
										</ul>
								</li>

								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Add <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{url_for('basePortal.addMerchantWithPos')}}">On Board Merchant</a></li>
											<li><a href="{{url_for('basePortal.addEmployee')}}">Add Employee</a></li>
											
										</ul>
								</li>

								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"> View <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{url_for('basePortal.viewMerchants')}}">View merchants</a></li>
										</ul>
								</li>

								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Search <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{url_for('basePortal.searchTerminals')}}">Terminal search</a></li>
											<li><a href="{{url_for('basePortal.searchMerchants')}}">Merchant search</a> </li>
										</ul>
								</li>

							</ul>
						# elif sub_role == AGENT_ROLE['ACCOUNTS_MANAGER']:
							<ul class="nav navbar-nav">
								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Transactions <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{url_for('transactionPortal.viewTransactions')}}">View Transactions</a></li>
										</ul>
								</li>


								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"> View <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{url_for('basePortal.viewMerchants')}}">View merchants</a></li>
										</ul>
								</li>

							</ul>
						# elif sub_role == AGENT_ROLE['CUSTOMER_CARE']:
							<ul class="nav navbar-nav">
								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Transactions <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{url_for('transactionPortal.viewTransactions')}}">View Transactions</a></li>
										</ul>
								</li>

								
								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"> View <b class="caret"></b></a>
										<ul class="dropdown-menu">
												<li><a href="{{url_for('basePortal.viewMerchants')}}">View merchants</a></li>
										</ul>
								</li>

							</ul>
						# elif sub_role == AGENT_ROLE['SALES_AGENT']:
							<ul class="nav navbar-nav">
								
							</ul>
						# endif
					# elif base_role == MERCHANT:
						# if sub_role == 0:	
							<ul class="nav navbar-nav">
								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Transactions <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{url_for('transactionPortal.viewTransactions')}}">View Transactions</a></li>
										</ul>
								</li>

								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Add <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{url_for('basePortal.addEmployee')}}">Add Employee</a></li>
										</ul>
								</li>

								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"> View <b class="caret"></b></a>
										<ul class="dropdown-menu">
												<li><a href="{{url_for('basePortal.viewTerminals')}}">View Terminals</a></li>
												<li><a href="{{url_for('basePortal.viewEmployees')}}">View Employees</a></li>
										</ul>
								</li>

								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Search <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{{url_for('basePortal.searchTerminals')}}">Terminal search</a></li>
										</ul>
								</li>

							</ul>
						# endif
					# endif
				
		<ul class="nav navbar-nav navbar-right">
			# if base_role > -1
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{current_user.username}} <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li> <a href="{{url_for('basePortal.addSupport')}}" > Support </a></li>
						<li><a href="{{url_for('basePortal.editProfile')}}">Edit Profile</a></li>
						<li><a href="{{url_for('basePortal.changePassword')}}">Change Password</a></li>
						<li><a href="{{url_for('basePortal.logout')}}">Logout</a></li>
					</ul>
				</li>
			# endif
		</ul>

		</div>
	</div>




	<!-- To leave top space-->
	<div role="navigation" class="navbar navbar-default">
		
	</div>

	<div class="container" id="flashBlock">
		<div class="row">
			<div class="col-md-3">
			</div>
			<div class="col-md-6 flashes" >
				<center>
					
					## flash messages are read along with categories
					## category types = {success,info,warning,danger}

					{% with messages = get_flashed_messages(with_categories=true) %}
					
					{% if messages %}
						{% for category,message in messages %}
							## if no category is given "message" is default category
							#	if category != "message" 
								<div class="alert alert-{{category}} alert-dismissable">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
									{{ message }}
								</div> 
							#	else
								<div class="alert alert-success alert-dismissable">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
									{{ message }}
								</div> 
							# endif
						{% endfor %}
					{% endif %}

					{% endwith %}
					</center>
			</div>
			<div class="col-md-3">
			</div>

		</div>		

		<div class="row">
			{% block content %}
			{% endblock %}
		</div>

	</div>


<script type="text/javascript">

	var OTHER_ALPHABET = 1
	var NUMERIC_ALPHABET = 2
	var CAPITAL_ALPHABET = 4
	var SMALL_ALPHABET = 8

	// returns the type of the character
	function getType(ascii){
		if(ascii >= 48 && ascii <= 57)
			return NUMERIC_ALPHABET;
		if(ascii >= 65 && ascii <= 90)
			return CAPITAL_ALPHABET
		if(ascii >= 97 && ascii <= 122)
			return SMALL_ALPHABET
		return OTHER_ALPHABET
	}

	// validates the password 
	function isPasswordStrong(passwd){
		var val = 0;
		for(var i=0;i<passwd.length;i++)
			val |= getType(passwd.charCodeAt(i))

		if(val > SMALL_ALPHABET)
			return true

		return false
	}

	// checking whether a string is all digits
	function render_input_digit_chain_error(id,minLength){
		minLength || (minLength = 0)

		var chain = $("#"+id).val();
		
		// should not be empty
		if(chain.length == 0){
			$("#"+id+"error").append("<li>"+id+" should not be empty"+"</li>")
			return false
		}

		//checking for minimum length
			if(chain.length < minLength){
				$("#"+id+"error").append("<li>"+id+" length should not be less than "+ minLength+"</li>")
			return false
			}

		
		var val = 0;
		for(var i=0;i<chain.length;i++)
			val |= getType(chain.charCodeAt(i))

		if(val != NUMERIC_ALPHABET){
			$("#"+id+"error").append("<li>"+id+" should contain only digits" +"</li>")
			return false
		}
		return true
	}

	function render_input_alphabet_chain_error(id,minLength){
		minLength || (minLength = 0)

		var chain = $("#"+id).val();
		
		// should not be empty
		if(chain.length == 0){
			$("#"+id+"error").append("<li>"+id+" should not be empty"+"</li>")
			return false
		}

		//checking for minimum length
			if(chain.length < minLength){
				$("#"+id+"error").append("<li>"+id+" length should not be less than "+ minLength+"</li>")
			return false
			}

		var val = 0;
		for(var i=0;i<chain.length;i++)
			val |= getType(chain.charCodeAt(i))
		
		if (!(val >= CAPITAL_ALPHABET && ((val % CAPITAL_ALPHABET) == 0))){
			$("#"+id+"error").append("<li>"+id+" should contain only alphabets" +"</li>")
			return false
		}

		return true
	}

	function render_input_alphanumeric_chain_error(id,minLength){
		minLength || (minLength = 0)

		var chain = $("#"+id).val();
		
		// should not be empty
		if(chain.length == 0){
			$("#"+id+"error").append("<li>"+id+" should not be empty"+"</li>")
			return false
		}

		//checking for minimum length
			if(chain.length < minLength){
				$("#"+id+"error").append("<li>"+id+" length should not be less than "+ minLength+"</li>")
			return false
			}

		var val = 0
		for(var i=0;i<chain.length;i++)
			val |= getType(chain.charCodeAt(i))

		if(val & OTHER_ALPHABET != 0){

			$("#"+id+"error").append("<li>"+id+" should contain only alpha numeric characters" +"</li>")
			return false
		}

		return true

		
	}


	// input field length validation
	function render_input_length_error(id,minLength,maxLength){
		minLength || (minLength = 0)
		maxLength || (maxLength = 100)

		// should not be empty
		if($("#"+id).val().length == 0){
			$("#"+id+"error").append("<li>"+id+" should not be empty"+"</li>")
			return false
		}

		//checking for minimum length
		if($("#"+id).val().length < minLength){
				$("#"+id+"error").append("<li>"+id+" length should not be less than "+ minLength+"</li>")
				return false
		}

		//checking for maximum length
		if($("#"+id).val().length > maxLength){
				$("#"+id+"error").append("<li>"+id+" length should not be greater than "+maxLength+"</li>")
				return false
		}

		return true

	}

	// input field required validation
	function render_input_required_error(id){
		// should not be empty
		if($("#"+id).val().length == 0){
			$("#"+id+"error").append("<li>"+id+" should not be empty"+"</li>")
			return false
		}
		return true
	}

	// input field email validation
	function render_input_email_error(id){
			// TODO
			return true
	}


	function render_input_password_strength_error(id,minLength){
		minLength || (minLength = 0)
		
		var password = $("#"+id).val();
		
		// should not be empty
		if(password.length == 0){
			$("#"+id+"error").append("<li>"+id+" should not be empty"+"</li>")
			return false
		}

		//checking for minimum length
			if(password.length < minLength){
				$("#"+id+"error").append("<li>"+id+" length should not be less than "+ minLength+"</li>")
			return false
			}
		
		if(!isPasswordStrong(password)){
			$("#"+id+"error").append("<li>"+id+" should have atleast 1 digit or 1 caps or 1 special character"+"</li>")
			return false
		}
		return true

	}

</script>

</body>