{% extends "base.html" %}

# block content

<script type="text/javascript">

$(document).ready(function(){
    $("#form").submit(function(event){

    	var isOk = true;

    	var fullnameId = "fullname"
		var mobileNumberId = "mobileNumber"
   	
		var bankNameId = "bankName"
		var bankBranchId = "bankBranch"
		var ifscId = "ifsc"
		var acNumberId = "acNumber"
		var MDR_DebitId = "MDR_Debit"
		var MDR_CreditId = "MDR_Credit"
		var MDR_CreditGoldId = "MDR_CreditGold"

		var address1Id = "address1"
		var cityId = "city"
		var districtId = "district"
		var stateId = "state"
		var pincodeId = "pincode"
		var countryId = "country"
		
        // removing all field errors by class name
      	$("."+"localvalidationlist").empty();

		isOk = render_input_required_error(fullnameId) && isOk;
		isOk = render_input_digit_chain_error(mobileNumberId) && isOk;

		isOk = render_input_alphabet_chain_error(bankNameId) && isOk;
		isOk = render_input_alphabet_chain_error(bankBranchId) && isOk;
		isOk = render_input_alphanumeric_chain_error(ifscId) && isOk;
		isOk = render_input_digit_chain_error(acNumberId) && isOk;
		isOk = render_input_required_error(MDR_DebitId) && isOk;
		isOk = render_input_required_error(MDR_CreditId) && isOk;
		isOk = render_input_required_error(MDR_CreditGoldId) && isOk;

		isOk = render_input_required_error(address1Id) && isOk;
		isOk = render_input_alphabet_chain_error(cityId) && isOk;
		isOk = render_input_alphabet_chain_error(districtId) && isOk;
		isOk = render_input_alphabet_chain_error(stateId) && isOk;
		isOk = render_input_digit_chain_error(pincodeId) && isOk;

		return isOk

    });
});

</script>

# block addUserForm
	## if extended by add then validation script for add user specific fields.
# endblock


<div class="col-md-1">
	<!-- left side space -->
</div>

<div class="col-md-10">
# block formdata
	## form fields come inside this block

# endblock
</div>

<div class="col-md-1">
	<!-- right side space -->
</div>

# endblock