# extends "base.html"
# block content

# set size = users|length
# set clientId = terminalDetails.clientId
# set mobileNumber = terminalDetails.mobileNumber


<div class="col-md-5"> 
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">POS Users</h3>
	</div>
	<div class="panel-body">
		# if addPosUser
			<center>
			<a class="btn btn-success btn-lg" href="{{url_for('basePortal.addPosUser')+
				'?terminal='+ clientId|string}}"> Add POS User</a> 
			</center>
			<br>
		# endif

		# if size != 0
			<table class="table">
				# for user in users
				<tr>
					<td> {{user.username}} </td>
					
					# if changePasswordForPosUser
						<td> <a class="btn btn-success" href="{{url_for('basePortal.changePosUserPassword')+'?terminal='+ user.clientId|string +'&username='+user.username}}"> ChangePassword</a>
						# if lock_bricks[loop.index0]
							<br>
							<br>
							# set brick = lock_bricks[loop.index0]
							# if brick['name'] == 'Lock'
							<a class="btn btn-danger" href= '{{ lock_bricks[loop.index0]['href'] }}' > {{ brick['name'] }}</a>
							# else
							<a class="btn btn-success" href= '{{ lock_bricks[loop.index0]['href'] }}' > {{ brick['name'] }}</a>
							# endif
						# endif
						</td>
					# endif


					# if deletePosUser
					<td>
						# if user.username != mobileNumber
						 <a class="btn btn-danger" href="{{url_for('basePortal.deletePosUser')+
							'?terminal='+ user.clientId|string +'&username='+user.username}}"> Delete</a>
						# endif
					</td>
					# endif

					
				</tr>
				# endfor
			</table>
			# else
			<p> No users</p>

			# endif

	</div>
</div>
</div>
	
# endblock