{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
# block content

<meta name="csrf-token" content="{{ csrf_token() }}">

<form method=post action="{{url_for('basePortal.addEmployee')}}">
{{ render_field(form.csrf_token) }}

{{ render_field(form.username) }}
{{ render_field(form.fullname) }}
{{ render_field(form.mobileNumber) }}
{{ render_field(form.email) }}

<br>
# if showOthers
<label for="forOthers">for_others</label>
<input id="forOthers" name="forOthers" type="checkbox">

# endif

<div id="childrenBlock" style="visibility:hidden;">

# if showRoleList
<div id="roleBlock">
<label for="roles">role</label>
<select id="roles" name="roles">
<option value="-1">select a role</option>

# for r in roleList
  <option value="{{r}}">{{r}}</option>
# endfor

</select>

</div>

# else

<div id="roleBlock">
</div>

# endif


# if showCompanyList
<br>
<div id="companyBlock">

<label for="companies">company</label>
<select id="companies" name = "companies">
  <option value="-1">select a company</option>
# for c in companyList
  <option value="{{c}}">{{c}}</option>
# endfor
</select>

</div>

# else

<div id="companyBlock">
</div>

# endif

# if showAgentList

<div id="forAgentBlock">
<label for="forAgent"> for_agent </label>
<input id="forAgent" type="checkbox" name="forAgent"> 
</div>

<div id="agentBlock" style="visibility:hidden;">
  
    <label for="agents">agents</label>
    <select id="agents" name="agents">
      <option value="-1">select an agent</option>
      # for a in agentList
        <option value="{{a}}">{{a}}</option>
      # endfor
    </select>
</div>

# else

<div id="forAgentBlock">
</div>

<div id="agentBlock">
</div>

# endif

# if showMerchantList

<div id="merchantBlock">
  
    <label for="merchant">merchants</label>
    <select id="merchants" name="merchants">
      <option value="-1">select a merchant</option>
      # for m in merchantList
        <option value="{{m}}">{{m}}</option>
      # endfor
    </select>
</div>

# else

<div id="merchantBlock">
</div>
# endif

</div>

<div id="employeeTypeBlock">
    <label for="employeeType">Employee Type</label>
    <select id="employeeType" name="employeeType">
      <option value="-1">select an employee type</option>
      # for m in employeeTypeList
        <option value="{{m}}">{{m}}</option>
      # endfor
    </select>
</div>

  </dl>
  <p><button type=button onclick="cancel()">Cancel</button> <input type=submit value=Save>
  	
</form>


<script type="text/javascript">

function showAgents(){
  var agents = document.getElementById("agents")
  var agentBlock = document.getElementById("agentBlock")
  agentBlock.style.visibility = "visible"
}

function hideAgents(){
  var agents = document.getElementById("agents")
  var agentBlock = document.getElementById("agentBlock")
  agentBlock.style.visibility = "hidden"
}

$(document).ready(function(){

  $("#roles").click(function(){
    var r = this.value;

    var companyBlock = document.getElementById("companyBlock")
    var merchantBlock = document.getElementById("merchantBlock")

    var forAgentBlock = document.getElementById("forAgentBlock")
    var agentBlock = document.getElementById("agentBlock")

    if(r == "company"){
      merchantBlock.style.visibility = "hidden"
      agentBlock.style.visibility = "hidden"
      forAgentBlock.style.visibility = "hidden"
      companyBlock.style.visibility = "visible"
      
    }else if(r == "agent"){
      merchantBlock.style.visibility = "hidden"
      agentBlock.style.visibility = "visible"
      forAgentBlock.style.visibility = "hidden"
      companyBlock.style.visibility = "visible"
      
    }else if(r == "merchant"){
      merchantBlock.style.visibility = "visible"
      forAgentBlock.style.visibility = "visible"
      agentBlock.style.visibility = "visible"
      companyBlock.style.visibility = "visible"
      
    }

  });


  $("#agents").click(function(){
    
    var c = $("#companies").val();
    var a = this.value;
    console.log(c);
    console.log(a);

    if(c != -1 && c != undefined && this.value != -1 && this.value != undefined){
      getMerchants(c,a);
    }
  });


  $("#companies").click(function() {
    if(this.value != -1 && this.value != undefined){
      getAgents(this.value);

      console.log($("#forAgent").is(':checked'))
      if ($("#forAgent").is(':checked')){
        console.log('inside')
        //clear merchants
        $('#merchants').empty()
        $('#merchants').append('<option value="-1"> select a merchant</option>')
        
      }else{
        getMerchants(this.value,null)
      }
    }else{
      //clear agents
      $('#agents').empty();
      $('#agents').append('<option value="-1"> select an agent</option>')
    }
  });

  $("#forOthers").click(function(){
    var roleBlock = document.getElementById("roleBlock")
    var companyBlock = document.getElementById("companyBlock")
    var merchantBlock = document.getElementById("merchantBlock")

    var forAgentBlock = document.getElementById("forAgentBlock")
    var agentBlock = document.getElementById("agentBlock")

    if(this.checked){
      $("#roles").click()
      roleBlock.style.visibility = "visible"
      companyBlock.style.visibility = "visible"
      merchantBlock.style.visibility = "visible"

      forAgentBlock.style.visibility = "visible"
      if ($("#forAgent").is(':checked')){
        agentBlock.style.visibility = "visible"
      }else{
        agentBlock.style.visibility = "hidden"
      }
    }else{
      roleBlock.style.visibility = "hidden"
      companyBlock.style.visibility = "hidden"
      merchantBlock.style.visibility = "hidden"
      forAgentBlock.style.visibility = "hidden"
      agentBlock.style.visibility = "hidden"
      
    }
  });


  $("#forAgent").click(function(){
    var c = $("#companies").value;
    $("#companies").click()

    if(this.checked){
      showAgents();
    }else{
      hideAgents();
    }
    
  });

});

function clearMerchants(){
  $('#merchants').empty()
  $('#merchants').append('<option value="-1"> select a merchant</option>')
}

function getAgents(company){
  postData = "company="+company
  makeRequest('/base/getAgents',postData,populateAgents)
}

function getMerchants(company,agent){

  postData = "company="+company+"&agent="+agent
  console.log(postData)
  makeRequest('/base/getMerchants',postData,populateMerchants)
}


function makeRequest(url,postData,requestCallBack){
  postData += "&csrf_token="+"{{ csrf_token() }}"
  httpRequest = new XMLHttpRequest();
  httpRequest.onreadystatechange = requestCallBack;
  httpRequest.open('POST',url);
  httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
  httpRequest.send(postData);
}

function populateAgents(){
  console.log(httpRequest.readyState)
  try{
    if(httpRequest.readyState == 4){
      if(httpRequest.status == 200){
        j = JSON.parse(httpRequest.responseText)
        data = "<option value=\"-1\">"+"select an agent"+"</option>";
        for(var i=0;i<j.agents.length;i++){
          agent = j.agents[i];
          data += "<option value=\""+agent +"\">"+agent+"</option>";
        }
        $('#agents').html(data);
        
      }else{
        alert('Response could not be fetched')
      }
    }
  }
  catch(e){
    alert('exception caught'+e.description)
  }

}

function populateMerchants(){
  console.log(httpRequest.readyState)
  try{
    if(httpRequest.readyState == 4){
      if(httpRequest.status == 200){
        j = JSON.parse(httpRequest.responseText)
        data = "<option value=\"-1\">"+"select a merchant"+"</option>";
        for(var i=0;i<j.merchants.length;i++){
          merchant = j.merchants[i];
          data += "<option value=\""+merchant +"\">"+merchant+"</option>";
        }
        $('#merchants').html(data);
        
      }else{
        alert('Response could not be fetched')
      }
    }
  }
  catch(e){
    alert('exception caught'+e.description)
  }


}


function cancel(){
  console.log('inside cancel')
  window.location.assign("http://127.0.0.1:5000/admin/test")
}
</script>
#endblock





