{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
# block content

<meta name="csrf-token" content="{{ csrf_token() }}">

<form method=post action="{{url_for('basePortal.hierarchyDemo')}}">
{{ render_field(form.csrf_token) }}
{{ render_field(form.paymentMode)}}

# if showCompanyList
<br>
<label for="companies">company</label>
<select id="companies" name = "companies">
  <option value="-1">select a company</option>
# for c in companyList
  <option value="{{c}}">{{c}}</option>
# endfor
</select>

# endif

# if showAgentList
<br>

  <label for="forAgent"> for_agent </label>
  <input id="forAgent" type="checkbox" name="forAgent"> 

<div id="agentBlock" style="visibility:hidden;">
  
    <label for="agents">agents</label>
    <select id="agents" name="agents">
      <option value="-1">select an agent</option>
      # for a in agentList
        <option value="{{a}}">{{a}}</option>
      # endfor
    </select>
</div>

# endif

# if showMerchantList

<div id="merchantBlock">
  
    <label for="merchant">merchants</label>
    <select id="merchants" name="merchants">
      <option value="-1">select a merchant</option>
      # for m in merchantList
        <option value="{{m}}">{{m}}</option>
      # endfor
    </select>
</div>

# endif

  </dl>
  <p><button type=button onclick="cancel()">Cancel</button> <input type=submit value=Save>
  	
</form>


<script type="text/javascript">

function showAgents(){
  var agentBlock = document.getElementById("agentBlock")
  agentBlock.style.visibility = "visible"
}

function hideAgents(){
  var agentBlock = document.getElementById("agentBlock")
  agentBlock.style.visibility = "hidden"
}


function clearMerchants(){
  //clear merchants
  $('#merchants').empty();
  $('#merchants').append('<option value="-1"> select a merchant</option>');
}

function clearAgents(){
  //clear agents
  $('#agents').empty();
  $('#agents').append('<option value="-1"> select an agent</option>');
}


$(document).ready(function(){

  $("#companies").click(function() {

    if(this.value != -1 && this.value != undefined){

      if ($("#forAgent").is(':checked')){
        clearMerchants();
        getAgents(this.value);        
      }else{
        clearAgents();
        getCompanyMerchants(this.value)
      }
    }else{
      
    }
  });

  $("#agents").click(function(){
    
    var c = $("#companies").val();
    var a = this.value;
    
    if(c != -1 && c != undefined && this.value != -1 && this.value != undefined){
      getMerchants(c,a);
    }
  });

  $("#forAgent").click(function(){
    var c = $("#companies").val();
    var a = $("#agents").val();

    clearMerchants();
    clearAgents();

    if(this.checked){
      showAgents();
      if(c != -1 && c != undefined){
        //valid company is selected
        getAgents(c);
      }
    }else{
    
      hideAgents();
      if(c != -1 && c!= undefined){
        getCompanyMerchants(c);
      }
    
    }

  });

});

function clearMerchants(){
  $('#merchants').empty()
  $('#merchants').append('<option value="-1"> select a merchant</option>')
}

function getAgents(company){
  postData = "company="+company
  makeRequest('/base/getAgents',postData,populateAgents)
}

function getMerchants(company,agent){

  postData = "company="+company+"&agent="+agent
  makeRequest('/base/getMerchants',postData,populateMerchants)
}


function getCompanyMerchants(company){
  postData = "company="+company
  makeRequest('/base/getCompanyMerchants',postData,populateMerchants)
}

function getAgentMerchants(agent){
  postData = "agent="+agent
  makeRequest('/base/getAgentMerchants',postData,populateMerchants)
}

function makeRequest(url,postData,requestCallBack){
  postData += "&csrf_token="+"{{ csrf_token() }}"
  httpRequest = new XMLHttpRequest();
  httpRequest.onreadystatechange = requestCallBack;
  httpRequest.open('POST',url);
  httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
  httpRequest.send(postData);
}

function populateAgents(){
  try{
    if(httpRequest.readyState == 4){
      if(httpRequest.status == 200){
        j = JSON.parse(httpRequest.responseText)
        data = "<option value=\"-1\">"+"select an agent"+"</option>";
        for(var i=0;i<j.agents.length;i++){
          agent = j.agents[i];
          data += "<option value=\""+agent +"\">"+agent+"</option>";
        }
        $('#agents').html(data);
        
      }else{
        alert('Response could not be fetched')
      }
    }
  }
  catch(e){
    alert('exception caught'+e.description)
  }

}

function populateMerchants(){
  try{
    if(httpRequest.readyState == 4){
      if(httpRequest.status == 200){
        j = JSON.parse(httpRequest.responseText)
        data = "<option value=\"-1\">"+"select a merchant"+"</option>";
        for(var i=0;i<j.merchants.length;i++){
          merchant = j.merchants[i];
          data += "<option value=\""+merchant +"\">"+merchant+"</option>";
        }
        $('#merchants').html(data);
        
      }else{
        alert('Response could not be fetched')
      }
    }
  }
  catch(e){
    alert('exception caught'+e.description)
  }


}


function cancel(){
  console.log('inside cancel')
  window.location.assign("http://127.0.0.1:5000/admin/test")
}
</script>
#endblock



