{% from "transaction/macros.html" import render_pagination %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

{{ render_pagination(pagination) }}

<table id="transactions" class="table"> 
<thead> 
<tr> 
    <th>Txn time</th> 
    <th>clientId</th> 
    <th>Txn type</th> 
    <th>Masked pan</th> 
    <th>Amount</th> 
    <th>Username</th> 
</tr>
</thead> 

<tbody> 
# for txn in transactions
	#if txn.ttype != txn.TTYPE['PREAUTH']
	#set amount = (txn.amount + txn.amount2)|string
	#elif txn.ttype == txn.TTYPE['PREAUTH']
	#set amount = (txn.amount)|string
	#endif
	<tr>
		<td>{{ get_indian_time(txn.transTime|string) }} </td> 
		<td>{{txn.clientId}}</td>
		<!-- Based on the status we show the label-->
		<td>{{txn.getTransactionType()}} </td>
		<td>{{'*'*6 + txn.maskedPan[6:]}}</td>
		#if amount|length < 3
		#set amount = '0'*(3-(amount|length)) + amount
		#endif
		<td>{{(amount)[:-2]}}.{{(amount)[-2:]}}</td>
		<td>{{txn.username}}</td>
	</tr>
# endfor
</tbody>

</table>


