{% extends "base.html" %}

# block head
	<script type=text/javascript src="{{ url_for('static', filename='js/pikaday.js') }}"> </script>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/pikaday.css') }}">
	<title> DashBoard</title>
# endblock

# block content

<div class="col-md-1">
	
</div>

<div class="col-md-10">
	<div class="row">
		

		<div class="col-md-3">
			<center> <h3> Transaction Type</h3> </center>
			<div class="col-md-4">
				<div class="checkbox">
					<label>
						<input id="allCheck" type="checkbox" name="all">All
					</label>
				</div>
			</div>

			<div class="col-md-4">
				<div class="checkbox">
					<label>
						<input id="saleCheck"type="checkbox" name="sale"> Sale
					</label>
				</div>
			</div>

			<div class="col-md-4">
				<div class="checkbox">
					<label>
						<input id="voidCheck" type="checkbox" name="void"> Void
					</label>
				</div>
			</div>
		</div>

		<div class="col-md-2">
			<h3> Settled?</h3>
			<div class="col-md-12">
				<div class="checkbox">
					<label>
						<input id="settledCheck" type="checkbox" name="settled"> Settled
					</label>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<center><h3> Ordering </h3></center>

			<select id="orderType" class="form-control">
				<option value="timedesc">Date (Recent First)</option>
				<option value="timeasc">Date (Recent Last)</option>
				<option value="amountdesc">Amount (High to Low)</option>
				<option value="amountasc">Amount (Low to High)</option>
			</select>
		</div>

		<div class="col-md-2">
				<h3> Time Range </h3>
			<select id="dateType"  class="form-control">
				<option value="today">today</option>
				<option value="yesterday">yesterday</option>
				<option value="thisweek">this week</option>
				<option value="lastweek">last week</option>
				<option value="thismonth">this month</option>
				<option value="lastmonth">last month</option>
				<option value="irresepective">irrespective</option>
				<option value="range">range</option>
			</select>
		</div>

		<div class="col-md-2">
			<div id="rangeBlock">
					<center> <h3>Range</h3> </center>
					<input class="form-control" style="margin-bottom:10px;" type="text" id="FromDatepicker" placeholder="From"> 
					<input class="form-control" type="text" id="ToDatepicker" placeholder="To"> 
			</div>
		</div>

	</div>

	<br>

	<div class="row">
		<div class="col-md-4">
			
		</div>
		<div class="col-md-4">
			<button  class="btn btn-primary btn-lg btn-block" onclick="getTransactions()" >Search</button>
		</div>
		<div class="col-md-4">
			
		</div>
	</div>

	<br>

	<center> 
	<iframe id="transactions" src="{{url_for('transactionPortal.show_transactions')}}" width="900" height="330"></iframe>
	</center>

</div>






<script type="text/javascript">


var picker = new Pikaday(
{
	field: document.getElementById('FromDatepicker'),
	firstDay: 1,
	minDate: new Date('2000-01-01'),
	maxDate: new Date('2020-12-31'),
	yearRange: [2000,2020]
}); 

var picker = new Pikaday(
{
	field: document.getElementById('ToDatepicker'),
	firstDay: 1,
	minDate: new Date('2000-01-01'),
	maxDate: new Date('2020-12-31'),
	yearRange: [2000,2020]
}); 

$(document).ready(function(){

	$("#rangeBlock").hide();

	$("#dateType").change(function() {
		if(this.value == "range"){
			console.log("inside")
			// show the ui
			$("#rangeBlock").show()
		}else{
			// hide date pickers
			$("#rangeBlock").hide()
			
		}
	});
});


function getTransactions(){

	var monthToNumber = { 
		'Jan':'01','Feb':'02','Mar':'03','Apr':'04','May':'05','Jun':'06','Jul':'07','Aug':'08','Sep':'09','Oct':'10','Nov':'11','Dec':'12'
	}

	arguments = "?"

	//get datetype option from select
	dateType = document.getElementById("dateType")
	arguments += 'dtype='+dateType.value+'&'

	if(dateType.value == "range"){
		// YYYY-MM-DD   dfrom  dto

		// TODO check whether two dates are selected or not

		// from date
		data = $("#FromDatepicker").val()
		tokens = data.split(' ')
		year = tokens[3]
		month = monthToNumber[tokens[1]]
		date = tokens[2]

		dfrom = year+'-'+month+'-'+date

		arguments += 'dfrom='+dfrom+'&'

		// to date

		data = $("#ToDatepicker").val()
		tokens = data.split(' ')
		year = tokens[3]
		month = monthToNumber[tokens[1]]
		date = tokens[2]

		dto = year+'-'+month+'-'+date

		arguments += 'dto='+dto+'&'

	}

	//get ordertype option from select
	orderType = document.getElementById("orderType")
	arguments += 'orderType='+orderType.value+'&'

	//get check box checks
	allCheck = document.getElementById("allCheck")
	saleCheck = document.getElementById("saleCheck")
	voidCheck = document.getElementById("voidCheck")

	settledCheck = document.getElementById("settledCheck")

	if(allCheck.checked){
		arguments += 'ttype=all'+'&'
	}else{
		if(saleCheck.checked)
			arguments += 'ttype=sale'+'&'
		if(voidCheck.checked)
			arguments += 'ttype=void'+'&'
	}

	if(settledCheck.checked){
		arguments += 'status=settled'+'&'
	}else{
		arguments += 'status=unsettled'+'&'
	}

	txnFrame = document.getElementById("transactions");

	currentUrl = txnFrame.src;
	data = currentUrl.split('?');
	baseUrl = data[0]

	//url to make a get request to
	finUrl = baseUrl+arguments;
	txnFrame.src = finUrl	
}

function httpGet(url){
	var xmlhttp = null;
	xmlhttp = new XMLHttpRequest();
	xmlhttp.onreadystatechange = ProcessRequest;
	xmlhttp.open("GET",url,true)
	xmlhttp.send(null);
	return xmlhttp.responseText;
}

function ProcessRequest()
{

    if ( xmlHttp.readyState == 4 && xmlHttp.status == 200 ) 
    {
        if ( xmlHttp.responseText == "Not found" ) {
        	alert('there is a problemo')
        }else{
        	//window.location.assign(finUrl)
        }
    }

}

</script>

# endblock